
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 15.6rem;
}.contact-Byv {
  box-sizing: border-box;
  padding: 2rem 1.9rem 5.4rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.contact-Byv .property-1contact-Dfi {
  margin-right: 0.1rem;
  height: 2.9rem;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #fbf6f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-Byv .property-1vector-4-7WC {
  margin-bottom: 3.4rem;
  width: 0.1rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contact-Byv .property-1variant4-rCt {
  margin-left: 0.1rem;
  height: 2.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contact-Byv .property-1variant3-y2c {
  margin-left: 0.2rem;
  width: 11.5rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
