
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 11.9rem;
}.home-dmE {
  box-sizing: border-box;
  padding: 1.5rem 1rem 2.5rem 1.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.home-dmE .property-1default-aRa {
  margin: 0rem 1.8rem 1.5rem 1.5rem;
  width: calc(100% - 3.3rem);
  height: 1.9rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #1e1e1e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.home-dmE .property-1variant2-Fnc {
  box-sizing: border-box;
  padding: 0rem 1.4rem 0rem 1.6rem;
  width: 100%;
  height: 2.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #1e1e1e;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
