
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 30.4rem;
}.rectangle-3843-Q9J {
  width: 100%;
  height: 17.4013rem;
  border-radius: 1rem;
}
