.home22 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    width: 100%;
    height: 100%;
  }
  .home21 {
    width: 72px;
    height: 29px;
    position: relative;
    display: none;
  }
  .new-logo-colour-13 {
    height: 142px;
    width: 118px;
    position: relative;
    object-fit: cover;
  }
  .home26:hover{
    transform:scale(1.5);
  
  }
  .home26 {
    position: relative;
    text-shadow: 1px 0 0#fffdfd, 0 1px 0#fffdfd, -1px 0 0#fffdfd, 0-1px 0#fffdfd;
  }
  .shop3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-base) 0 var(--padding-4xs);
  }
  
  .email-input1,
  .group-frame2 {
    height: 285px;
    width: 647px;
    position: absolute;
    margin: 0 !important;
    right: 314px;
    bottom: -104px;
  }
  .email-input1 {
    height: 300px;
    width: 300px;
    right: -131px;
    bottom: 2px;
    border-radius: 50%;
    background-color: var(--color-midnightblue-300);
    z-index: 1;
  }
  .frame-child2,
  .login-frame-item {
    height: 686px;
    width: 1440px;
    position: relative;
    background-color: var(--color-midnightblue-100);
    display: none;
    max-width: 100%;
  }
  .frame-child2 {
    width: 470px;
    height: 540px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro-300);
    box-shadow: 38.7px -38.7px 38.67px rgba(165, 165, 165, 0.1) inset,
      -38.7px 38.7px 38.67px rgba(255, 255, 255, 0.1) inset;
    border: 2px solid var(--color-gray-200);
    box-sizing: border-box;
    z-index: 0;
  }
  .login7,
  .shop-frame-item {
    position: relative;
    z-index: 1;
  }
  .shop-frame-item {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .login7 {
    height: 39px;
    width: 108px;
    font-size: var(--font-size-13xl);
    display: inline-block;
    font-family: var(--font-roboto);
    color: var(--color-white);
    text-align: left;
    flex-shrink: 0;
    padding-right: var(--padding-xl);
  }
  .about-frame2,
  .shop-frame2 {
    display: flex;
    justify-content: flex-start;
  }
  .about-frame2 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
  }
  .shop-frame2 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 269px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-smi);
  }
  .blog-frame3 {
    align-self: stretch;
    height: 129px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .e-m-a-i-l-text {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .email4,
  .email5 {
    position: relative;
    z-index: 1;
  }
  .email5 {
    width: 68px;
    border: 0;
    outline: 0;
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    height: 28px;
    font-weight: 700;
    color: var(--color-white);
    text-align: left;
  }
  .email4 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-8xs);
  }
  .clarityemail-solid-icon1 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
    margin-left: -43px;
  }
  .clarity-emailsolid-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-smi) 0 0;
  }
  .f-o-r-g-e-t-p-a-s-s-w-o-r-d-te {
    align-self: stretch;
    height: 0;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    z-index: 1;
  }
  .email-instance1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-10xs);
  }
  .lettersend-rectangle {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-40xl) 0 var(--padding-xl);
  }
  .line-div {
    height: 0;
    flex: 1;
    position: relative;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    z-index: 1;
  }
  .mdiOTP-frame {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .component-21,
  .email6 {
    position: relative;
    z-index: 1;
  }
  .email6 {
    width: 125px;
    border: 0;
    outline: 0;
    display: inline-block;
    font-family: var(--font-roboto);
    font-size: var(--font-size-5xl);
    background-color: transparent;
    height: 28px;
    font-weight: 700;
    color: var(--color-white);
    text-align: left;
  }
  .component-21 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-8xs);
  }
  .mdiOTP-icon1 {
    height: 24px;
    width: 24px;
    position: absolute;
    margin: 0 !important;
    top: 4px;
    right: 15px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
  }
  .component-instance {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -319px;
  }
  .line-parent,
  .login-group1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .line-parent {
    flex: 1;
    align-items: flex-end;
  }
  .login-group1 {
    height: 39px;
    align-items: flex-start;
    padding: 0 var(--padding-40xl) 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .tick-instance {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--color-snow);
  }
  .remember-me1,
  .tick1 {
    position: relative;
    z-index: 1;
  }
  .tick1 {
    height: 15px;
    width: 15px;
  }
  .remember-me1 {
    font-size: var(--font-size-base);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
  }
  .registertext {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-6xs);
  }
  .forget-password1 {
    width: 153px;
    position: relative;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--font-roboto);
    color: var(--color-white);
    text-align: left;
    flex-shrink: 0;
    z-index: 1;
  }
  .passwordtext {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-child3 {
    height: 39px;
    width: 320px;
    position: relative;
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #07053f, #07053f);
    border: 1px solid var(--color-whitesmoke);
    box-sizing: border-box;
    display: none;
  }
  .login8 {
    height: 28px;
    position: relative;
    font-size: var(--font-size-5xl);
    display: inline-block;
    font-family: var(--font-roboto);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .group-button {
    cursor: pointer;
    border: 1px solid var(--color-whitesmoke);
    padding: var(--padding-8xs) 132px var(--padding-7xs) 122px;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #07053f, #07053f);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .group-button:hover {
    background-color: var(--color-gainsboro-200);
    border: 1px solid var(--color-gainsboro-100);
    box-sizing: border-box;
  }
  .dont,
  .have,
  .span {
    font-weight: 500;
    font-family: var(--font-roboto);
  }
  .have,
  .span {
    font-family: var(--font-inter);
  }
  .have {
    font-family: var(--font-roboto);
  }
  .an,
  .span1,
  .span2 {
    font-weight: 500;
    font-family: var(--font-inter);
  }
  .an,
  .span2 {
    font-family: var(--font-roboto);
  }
  .span2 {
    font-family: var(--font-inter);
  }
  .account,
  .span3 {
    font-weight: 500;
    font-family: var(--font-roboto);
  }
  .span3 {
    font-family: var(--font-inter);
  }
  .dont-have-an-container {
    width: 211px;
    position: relative;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    z-index: 1;
  }
  .newusercallout {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
    min-width: 118px;
  }
  .register1 {
    position: relative;
    font-size: var(--font-size-mini);
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    cursor: pointer;
    z-index: 2;
  }
  .registerbutton {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
  }
  .forgetpasswordlink {
    width: 282px;
    flex-direction: row;
    padding: 0 var(--padding-sm);
    box-sizing: border-box;
  }
  .emailframe,
  .forgetpasswordlink,
  .logingroup1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .emailframe {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-mid);
  }
  .logingroup1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-13xl) 0 var(--padding-xl);
  }
  
  .letter-send-2-icon1 {
    width: 265.4px;
    height: 194.7px;
    position: absolute;
    margin: 0 !important;
    bottom: -63.7px;
    left: -139px;
    object-fit: contain;
    z-index: 4;
  }
  .group-form {
    margin: 0;
    width: 470px;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro-300);
    box-shadow: 38.7px -38.7px 38.67px rgba(165, 165, 165, 0.1) inset,
      -38.7px 38.7px 38.67px rgba(255, 255, 255, 0.1) inset;
    border: 2px solid var(--color-gray-200);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-sm) var(--padding-sm) var(--padding-66xl)
      var(--padding-34xl);
    position: relative;
    gap: var(--gap-20xl);
    min-width: 470px;
    max-width: 100%;
    z-index: 1;
  }
  .send-button-ellipse-child {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-midnightblue-300);
    z-index: 2;
  }
  .send-button-ellipse {
    height: 312px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-93xl) 0 0;
    box-sizing: border-box;
    min-width: 200px;
  }
  .login-frame1 {
    flex: 1;
    background-color: var(--color-midnightblue-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-54xl) var(--padding-9xs) var(--padding-54xl)
      var(--padding-466xl);
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .group-login-info-child {
    height: 180px;
    width: 180px;
    position: absolute;
    margin: 0 !important;
    top: 37px;
    left: -63px;
    border-radius: 50%;
    background-color: var(--color-midnightblue-300);
    z-index: 1;
  }
  .ellipse-separator,
  .group-login-info {
    align-self: stretch;
    display: flex;
    max-width: 100%;
  }
  .group-login-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .ellipse-separator {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-frames,
  .primary-frame {
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .home-frames {
    flex: 1;
    background-color: var(--color-white);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-2xl) 0 var(--padding-143xl);
    box-sizing: border-box;
    gap: var(--gap-smi);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-midnightblue-200);
    font-family: var(--font-inter);
  }
  .primary-frame {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: center;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .group-form,
    .send-button-ellipse {
      flex: 1;
    }
    .login-frame1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .login7 {
      font-size: var(--font-size-7xl);
    }
    .group-form {
      min-width: 100%;
    }
    .home-frames {
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-86xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .group-form {
      gap: var(--gap-20xl);
      padding-left: var(--padding-7xl);
      padding-top: var(--padding-xl);
      padding-bottom: var(--padding-36xl);
      box-sizing: border-box;
    }
    .login-frame1 {
      padding-left: var(--padding-223xl);
      padding-top: var(--padding-28xl);
      padding-bottom: var(--padding-28xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .email5,
    .home22,
    .login7 {
      font-size: var(--font-size-lgi);
    }
    .lettersend-rectangle {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .email6 {
      font-size: var(--font-size-lgi);
    }
    .login-group1 {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .forgetpasswordtext {
      flex-wrap: wrap;
    }
    .login8 {
      font-size: var(--font-size-lgi);
    }
    .group-button {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .registerbutton {
      flex-wrap: wrap;
    }
    .login-frame1 {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .home-frames {
      padding-bottom: var(--padding-49xl);
      box-sizing: border-box;
    }
  }
  