{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>
</head>

<body>
{% if items %}
  <div class="all-cart row">
    <h2>My Cart</h2>
    {% if err %}
    <h4 style="color: red;">{{err}}</h4>
    {% endif %}
    {% for item in items %}
    <div class="card mb-3 cart-item" style="max-width: 80rem;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/static/images/{{item.component.image}}" class="img-fluid rounded-start cart-image" alt="{{ item.component.name }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.component.name }}</h5>
            <p class="card-text">Quantity: {{ item.quantity }}</p>
            <div class="quantity">
              <button data-product="{{ item.component.id }}" data-action="add" class="chg-quantity update-cart btn btn-outline-secondary">+</button>
              <button data-product="{{ item.component.id }}" data-action="remove" class="chg-quantity update-cart btn btn-outline-secondary">-</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% else %}
  <div class="empty-cart">
    <img src="/static/assets/new-empty-cart.png" alt="empty cart" class="empty-cart-img" width="100" height="100">
    <h2 class="empty-text">Your cart is empty</h2>
    <button class="btn btn-warning empty-cart-btn" onclick="redirectToHomePage()">Explore our inventory</button>

  </div>
{% endif %}
<div class="row">
  <div class="col text-end">
    <button class="btn btn-danger my-btn" onclick="proceedToCheckout()">
      <img src="/static/assets/check-mark.png" alt="check-mark" height="20" width="20" class="check-mark">
      Proceed to checkout
    </button>
  </div>
</div>
</body>
<script>
    function proceedToCheckout() {
        // Redirect to the checkout page
        window.location.href = "{% url 'checkout' %}";
    }
    function redirectToHomePage() {
        // Redirect to the home page
        window.location.href = "{% url 'home' %}";
      }
</script>
</html>
{% endblock content%}
