{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="component-tile">
    <img src="/static/images/{{ component.image }}" class="component-img">
    <h2>{{ component.name }}</h2>
    <h4>Description: {{ component.description }}</h4>
    {% if component.stockQunatity > 0 %}
    <button data-product="{{ component.id }}" data-action="add" class="add-btn">Add to Cart</button>
    {% else %}
    <p class="out-of-stock">Out of Stock</p>
    {% endif %}
</div>
{% endblock %}
