{% extends 'home/base.html' %}

{% block title %}Home - ISA Inventory{% endblock %}

{% block content %}

<body>

    <section class="hero">
        <h1>Welcome to ISA VESIT Inventory</h1>
        <p>Your one-stop destination for quality electronic components.</p>
        <a href="#">Explore Now</a>
    </section>

    <section class="popular-categories">
        <h2>Popular Categories</h2>
        <a href="{% url 'home' %}">All</a>
        <a href="{% url 'getDevelopmentBoard' %}">Development Boards</a>
        <a href="{% url 'getSM' %}">Sensor Modules</a>
        <a href="{% url 'getEC' %}">Electronic Components</a>
        <a href="{% url 'getMotor' %}">Motors</a>
    </section>

    <section class="featured-components">
        <h2>Featured Components</h2>
    </section>

    <div class="component-grid">
        {% for component in components %}
        <a href="/component/{{component.id}}">
        <div class="component-card">
            <img class="thumbnail" src="/static/images/{{component.image}}">
            <div class="box-element product">
                <h4>{{component.name}}</h4>
                {% if component.stockQunatity > 0 %}
                <button data-product="{{component.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                {% else %}
                <p style="color: crimson;">Out of Stock</p>
                {% endif %}
                <a href="/component/{{component.id}}"></a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

{% endblock %}
