{% load static %}
{% block content %}
<header>
  <nav>
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'getProfile' %}">Profile</a></li>
          <li><a href="/profile">Hello {{request.user.member}}</a></li>
          <li><a href="{% url 'signout' %}">Sign Out</a></li>
          {% else %}
          <li><a href="{% url 'signin' %}">SignIn</a></li>
          {% endif %}
      </ul>
      <a href="{% url 'cart' %}">Cart {{cartItems}}</a>
  </nav>
</header>
{% endblock %}