{% extends 'home/base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
<section class="profile-info">
    <div class="profile-details">
        <h1>User Profile</h1>
        <div>
            <p>Username: {{ request.user.username }}</p>
            <p>Email: {{ request.user.email }}</p>
        </div>
    </div>

    <div class="order-details">
        <h2>Orders</h2>
        {% if orders %}
        <table border="2">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Order Status</th>
                    <!-- Add more table headers for additional order details -->
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.date_ordered }}</td>
                        <td>{{ order.approval }}</td>
                        <!-- Add more table cells for other order details -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No orders found.</p>
        {% endif %}
    </div>
</section>

</body>
</html>
{% endblock %}
