
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item-3-GDi {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;

  .group-1000001778-1SC {
    width: 100%;
    height: 100%;
    position: relative;

    .item-1-ZCp {
      background-color: #ffffff;
      box-sizing: border-box;
      width: 144rem;
      height: 102.4rem;
      top: 0;
      overflow: hidden;
      padding: 2.1rem 0rem 5.8rem 0rem;
      position: absolute;
      left: 0;

      .auto-group-vsdz-GN8 {
        margin: 0rem 22.1rem 1.3rem 5.8rem;
        width: calc(100% - 27.9rem);
        display: flex;
        align-items: flex-start;

        .new-logo-colour-1-nbN {
          margin-right: 46rem;
          width: 11.8rem;
          height: 14.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-xmrn-iE8 {
          height: 3rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 2.4rem;
          width: 58.3rem;

          .home-eNg {
            top: 0;
            width: 7.2rem;
            height: 3rem;
            cursor: pointer;
            position: absolute;
            left: 0;
          }
          .group-1000001793-BtQ {
            width: 53.7rem;
            height: 1.9rem;
            position: absolute;
            left: 4.6rem;
            top: 0.5rem;
            display: flex;
            align-items: center;

            .home-uJc {
              margin-right: 3.3rem;
              height: 100%;
              white-space: nowrap;
              flex-shrink: 0;
              width: 6.2rem;
              justify-content: center;
              font-weight: 400;
              line-height: 1.1725;
              align-items: center;
              cursor: pointer;
              font-size: 1.6rem;
              color: #1e1e1e;
              font-family: Roboto, 'Source Sans Pro';
              display: flex;
            }
            .features-PUg {
              font-weight: 400;
              line-height: 1.1725;
              display: flex;
              align-items: center;
              width: 6.6rem;
              font-size: 1.6rem;
              color: #1e1e1e;
              margin-right: 2.9rem;
              justify-content: center;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              height: 100%;
              cursor: pointer;
            }
            .home-VXi {
              font-size: 1.6rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              margin-right: 3.3rem;
              width: 6.2rem;
              font-weight: 400;
              flex-shrink: 0;
              cursor: pointer;
              color: #1e1e1e;
              height: 100%;
              line-height: 1.1725;
              display: flex;
              justify-content: center;
            }
            .home-Psz {
              align-items: center;
              width: 6.2rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #1e1e1e;
              margin-right: 3.3rem;
              height: 100%;
              white-space: nowrap;
              flex-shrink: 0;
              cursor: pointer;
              display: flex;
              justify-content: center;
              font-size: 1.6rem;
              font-family: Roboto, 'Source Sans Pro';
            }
            .home-Vw2 {
              white-space: nowrap;
              justify-content: center;
              font-weight: 400;
              line-height: 1.1725;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              cursor: pointer;
              color: #1e1e1e;
              align-items: center;
              font-size: 1.6rem;
              display: flex;
              margin-right: 3.3rem;
              width: 6.2rem;
              height: 100%;
            }
            .features-nfE {
              height: 100%;
              flex-shrink: 0;
              width: 6.2rem;
              cursor: pointer;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.1725;
              color: #1e1e1e;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .auto-group-2rbe-6R2 {
        position: relative;
        width: 157.1rem;
        height: 79rem;

        .logo-prp {
          width: 54rem;
          height: 8.9rem;
          position: absolute;
          left: 47.9rem;
          top: 70.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-3844-kkU {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #07053f;
          width: 144rem;
          height: 68.6rem;
        }
        .group-1000001790-6JY {
          position: absolute;
          top: 7.3rem;
          box-shadow: inset -3.8667rem 3.8667rem 3.8667rem rgba(255, 255, 255, 0.1000000015)), inset 3.8667rem -3.8667rem 3.8667rem rgba(164, 164, 164, 0.1000000015));
          backdrop-filter: blur(3.8667rem);
          background-color: rgba(217, 217, 217, 0.400000006);
          border-radius: 3rem;
          width: 47rem;
          height: 54rem;
          left: 48.5rem;
          box-sizing: border-box;
          padding: 1.4rem 1.6rem 1.4rem 5.5rem;

          .group-1000001773-Q4L {
            height: 44.2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(2.97rem);
            width: 100%;

            .group-1-voN {
              width: 4rem;
              height: 4rem;
              cursor: pointer;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 35.9rem;
            }
            .login-rh2 {
              font-weight: 700;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 3.9rem 7.6rem 0rem;
              font-size: 3.2rem;
            }
            .component-1-aN8 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 5.9rem 0.3rem 2.1rem;
              box-sizing: border-box;
              padding: 0.4rem 1.3rem 0.3rem 0.8rem;
              width: calc(100% - 8rem);
              cursor: pointer;

              .email-gRA {
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 19.3rem 0rem 0rem;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .clarity-email-solid-zwe {
                height: 3rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0rem;
                width: 3rem;
              }
            }
            .line-3-8nx {
              margin: 0rem 5.9rem 3.9rem 2rem;
              width: calc(100% - 7.9rem);
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .component-2-Fcg {
              padding: 0.4rem 1.9rem 0.3rem 0.8rem;
              width: calc(100% - 8rem);
              cursor: pointer;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 5.9rem 0.2rem 2.1rem;
              box-sizing: border-box;

              .email-kJY {
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 13.7rem;
                font-size: 2.4rem;
                font-weight: 700;
              }
              .mdi-password-ghz {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                width: 1.6rem;
                height: 2.1rem;
              }
            }
            .line-4-21A {
              width: calc(100% - 7.9rem);
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 5.9rem 3.8rem 2rem;
            }
            .auto-group-jex6-9Lg {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 3.6rem 2.1rem 0rem;

              .rectangle-6-4Ck {
                margin: 0.2rem 0.7rem 0.3rem 0rem;
                width: 1.5rem;
                height: calc(100% - 0.5rem);
                cursor: pointer;
                flex-shrink: 0;

                .rectangle-6-nPe {
                  width: 100%;
                  height: 1.5rem;
                  background-color: #fbf5f5;
                  border-radius: 0.5rem;
                }
              }
              .remember-me-XME {
                flex-shrink: 0;
                margin: 0rem 5.7rem 0rem 0rem;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .forget-password-egk {
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                font-size: 1.6rem;
                line-height: 1.2102272511;
                color: #ffffff;
                white-space: nowrap;
                margin-bottom: 0rem;

                .forget-password-egk-sub-0 {
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.6rem;
                }
                .forget-password-egk-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                }
                .forget-password-egk-sub-2 {
                  font-family: Inter, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.2125;
                  color: #ffffff;
                }
              }
            }
            .group-3-asE {
              height: 3.9rem;
              position: relative;
              box-sizing: border-box;
              background: linear-gradient(180deg, #07053f -0%, rgba(7, 5, 63, 0.4699999988) 89.74%);
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0rem 5.9rem 1.7rem 2rem;
              width: calc(100% - 7.9rem);

              .login-uPi {
                top: 0.5rem;
                font-size: 2.4rem;
                color: #ffffff;
                white-space: nowrap;
                width: 7.5rem;
                height: 3rem;
                position: absolute;
                left: 12.2rem;
                font-weight: 700;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
              }
              .group-1000001791-R7A {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                border-radius: 1rem;
                cursor: pointer;
                top: 0;
                font-family: Inter, 'Source Sans Pro';
                font-weight: 700;
                position: absolute;
                left: 0;
                font-size: 2.4rem;
                color: #ffffff;
                white-space: nowrap;
                justify-content: center;
                background: linear-gradient(180deg, #07053f -0%, rgba(7, 5, 63, 0.4699999988) 89.74%);
                width: 32rem;
                height: 3.9rem;
                line-height: 1.2125;
              }
            }
            .auto-group-vmwj-z3n {
              margin: 0rem 7.9rem 0rem 3.4rem;
              width: calc(100% - 11.3rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .dont-have-an-account-7eC {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.8rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .register-Ret {
                font-weight: 700;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.5rem;
              }
            }
          }
        }
        .lettersend-1-F88 {
          position: relative;
          left: 86.1rem;
          top: 50.5rem;
          background-size: 114.182% 100.322%;
          background-position: -3.5849rem -0.035rem;
          background-image: url('REPLACE_IMAGE:5e52eb20ee9158ca0835b430d0b6ef56e2d7385e');
          width: 26.4779rem;
          height: 21.6996rem;
        }
        .lettersend-2-j3J {
          width: 26.535rem;
          height: 19.4659rem;
          position: relative;
          left: 34.6rem;
          top: 48.2rem;
          background-size: 114.182% 100.322%;
          background-position: -3.5889rem -0.0314rem;
          background-image: url('REPLACE_IMAGE:5e52eb20ee9158ca0835b430d0b6ef56e2d7385e');
        }
        .ellipse-795-DUG {
          background-color: rgba(0, 8, 85, 0.5099999905);
          border-radius: 15rem;
          width: 30rem;
          height: 30rem;
          position: absolute;
          left: 127.1rem;
          top: 38.4rem;
        }
        .ellipse-796-wQG {
          border-radius: 10rem;
          width: 20rem;
          height: 20rem;
          position: absolute;
          left: 123.6rem;
          top: 29.9rem;
          background-color: rgba(0, 8, 85, 0.5099999905);
        }
      }
    }
    .profile-epU {
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;
      position: absolute;
      left: 126.1rem;
      top: 4.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .cart-ai8 {
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;
      position: absolute;
      left: 134.2rem;
      top: 4.4rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
