
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-vTW {
  padding-bottom: 67.9rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;

  .top-43v {
    box-sizing: border-box;
    padding: 0.5rem 3.827rem 0rem 0rem;
    width: 100%;
    height: 20.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 3.8rem;

    .new-logo-colour-2-wtQ {
      width: 17.1rem;
      height: 19.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .search-group-UtL {
      margin: 6.3rem 1.8rem 6.9rem 0rem;
      box-sizing: border-box;
      width: 92.2rem;
      height: calc(100% - 13.2rem);
      border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
      flex-shrink: 0;
      padding: 2.075rem 3.542rem 2.139rem 3.542rem;
      background-color: #ffffff;
      border-radius: 2rem;

      .ic-baseline-search-z5z {
        object-fit: contain;
        vertical-align: top;
        margin-right: 82.6129rem;
        width: 2.503rem;
        height: 2.1863rem;
      }
    }
    .bytesize-cart-fT2 {
      margin: 0rem 1.8rem 0.8rem 0rem;
      width: 5.6rem;
      height: 5.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-7-NcL {
      border-radius: 2rem;
      flex-shrink: 0;
      padding: 1.2rem 5.161rem 1.4rem 3.534rem;
      height: calc(100% - 13.2rem);
      align-items: center;
      border: solid 0.1rem rgba(0, 0, 0, 0.8500000238);
      margin: 6.3rem 0rem 6.9rem 0rem;
      box-sizing: border-box;
      display: flex;
      background-color: #ffffff;

      .group-2-tKn {
        margin: 0rem 2.709rem 0.252rem 0rem;
        width: 3.7691rem;
        height: 3.5484rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .login-Dsr {
        flex-shrink: 0;
        margin-top: 0.7rem;
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #12558c;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .cart-info-6Rr {
    margin: 0 4.1rem;
    width: calc(100% - 8.2rem);
    height: 84.2rem;
    position: relative;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    flex-shrink: 0;

    .my-cart-RU8 {
      line-height: 1.1725;
      color: #12558c;
      white-space: nowrap;
      position: absolute;
      top: 1.7445rem;
      font-size: 4rem;
      font-weight: 700;
      width: 17.2rem;
      height: 4.7rem;
      left: 4.8373rem;
      font-family: Roboto, 'Source Sans Pro';
    }
    .rectangle-3851-Xn4 {
      width: 125.0736rem;
      height: 0.0918rem;
      position: absolute;
      left: 4.3705rem;
      top: 6.5189rem;
      background-color: #857d7d;
    }
    .group-a-YSG {
      top: 12.2115rem;
      display: flex;
      align-items: center;
      width: 116.835rem;
      height: 15.0617rem;
      position: absolute;
      left: 4.965rem;

      .rectangle-3853-sUY {
        width: 23.635rem;
        height: 15.0617rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-eja8-peg {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.789rem 0rem 0.789rem 4.9rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .auto-group-inbn-8vG {
          margin: 0.2rem 12.8rem 0rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-HHN {
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 1.1725;
            color: #000000;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 3.8rem;
            max-width: 29.4rem;
          }
          .add-to-wishlist-NJp {
            margin-left: 0.5rem;
            line-height: 1.1725;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
            font-weight: 200;
            text-decoration-line: underline;
            color: #000000;
          }
        }
        .quantity-group-6-fHv {
          margin-right: 9.6rem;
          height: 4.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .bin-group-ntL {
            margin: 0.232rem 1.711rem 0rem 0rem;
            width: 4.9781rem;
            height: 4.1317rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .number-group-7fi {
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            flex-shrink: 0;
            height: calc(100% - 0.7683rem);
            border-radius: 0.7rem;
            color: #ffffff;
            white-space: nowrap;
            justify-content: center;
            background-color: #12558c;
            width: 12.6007rem;
            font-size: 2.4rem;
            line-height: 1.1725;
            align-items: center;
            margin: 0.5rem 2.31rem 0.268rem 0rem;
            font-weight: 600;
          }
          .plus-group-mkG {
            width: 7.3rem;
            height: 4.9rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .item-45525-XDe {
          color: #12558c;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.1725;
        }
      }
    }
    .group-c-RZv {
      width: 116.835rem;
      height: 15.0617rem;
      position: absolute;
      left: 4.8rem;
      top: 52.1rem;
      display: flex;
      align-items: flex-start;

      .rectangle-3853-Uo6 {
        flex-shrink: 0;
        margin-right: 4.9rem;
        width: 23.635rem;
        height: 15.0617rem;
        object-fit: cover;
        vertical-align: top;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-RCY {
        flex-shrink: 0;
        margin-top: 0.9885rem;
        max-width: 29.4rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.1725;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
      .auto-group-zte4-vQC {
        box-sizing: border-box;
        padding: 0.789rem 0rem 0.789rem 12.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .quantity-group-6-4FW {
          margin-right: 9.6rem;
          height: 4.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .bin-group-1Re {
            width: 4.9781rem;
            height: calc(100% - 0.7683rem);
            background-color: #12558c;
            border-radius: 0.7rem;
            flex-shrink: 0;
            margin: 0.5rem 1.711rem 0.268rem 0rem;
            box-sizing: border-box;
            padding: 1.961rem 1.563rem 1.871rem 1.315rem;

            .ic-baseline-minus-7zU {
              position: relative;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .vector-rx4 {
                background-color: #f8f8f8;
                width: 100%;
                height: 0.3rem;
              }
            }
          }
          .number-group-QTn {
            font-size: 2.4rem;
            font-weight: 600;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
            margin: 0.5rem 2.31rem 0.268rem 0rem;
            width: 12.6007rem;
            color: #ffffff;
            background-color: #12558c;
            border-radius: 0.7rem;
            height: calc(100% - 0.7683rem);
            line-height: 1.1725;
            justify-content: center;
            align-items: center;
          }
          .plus-group-42Y {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 7.3rem;
            height: 4.9rem;
          }
        }
        .item-45525-oF2 {
          font-weight: 600;
          line-height: 1.1725;
          color: #12558c;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
        }
      }
    }
    .group-b-8YC {
      left: 4.8rem;
      top: 32.2rem;
      display: flex;
      align-items: flex-start;
      width: 116.835rem;
      height: 15.0617rem;
      position: absolute;

      .rectangle-3853-eWY {
        margin-right: 4.9rem;
        width: 23.635rem;
        height: 15.0617rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-9iC {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.9885rem;
        max-width: 29.4rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.1725;
      }
      .auto-group-zney-UEg {
        box-sizing: border-box;
        padding: 0.789rem 0rem 0.789rem 12.8rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .quantity-group-6-Qu2 {
          margin-right: 9.6rem;
          height: 4.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .bin-group-N5A {
            margin: 0.232rem 1.711rem 0rem 0rem;
            width: 4.9781rem;
            height: 4.1317rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .number-group-6Wx {
            font-size: 2.4rem;
            font-family: Roboto, 'Source Sans Pro';
            align-items: center;
            border-radius: 0.7rem;
            flex-shrink: 0;
            height: calc(100% - 0.7683rem);
            display: flex;
            background-color: #12558c;
            margin: 0.5rem 2.31rem 0.268rem 0rem;
            line-height: 1.1725;
            color: #ffffff;
            white-space: nowrap;
            width: 12.6007rem;
            font-weight: 600;
            justify-content: center;
          }
          .plus-group-k5i {
            vertical-align: top;
            flex-shrink: 0;
            width: 7.3rem;
            height: 4.9rem;
            position: relative;
            object-fit: contain;
          }
        }
        .item-45525-TVv {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #12558c;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .line-1-xBn {
      position: absolute;
      left: 3.5972rem;
      top: 70.2991rem;
      background-color: #867d7d;
      width: 128.6056rem;
      height: 0.1rem;
    }
    .cart-subtotal-136575--VSc {
      height: 2.9rem;
      left: 104.4rem;
      top: 71.8rem;
      line-height: 1.1725;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      width: 25.7rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 300;
      color: #000000;
    }
    .group-8-zuA {
      box-sizing: border-box;
      width: 43.6rem;
      height: 5.2rem;
      position: absolute;
      left: 89.8rem;
      top: 76.6rem;
      display: flex;
      align-items: center;
      background-color: #12558c;
      padding: 1.4rem 6.2rem 0.7rem 3.6rem;
      border-radius: 1.5rem;

      .icon-park-outline-check-correct-VL8 {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.9rem 0.1rem 0rem;
      }
      .proceed-to-checkout-o5v {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.1725;
      }
    }
  }
}
