
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-es6 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .group-3-zRA {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.4rem 5.3rem 1.6rem 5.3rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background: linear-gradient(180deg, #3a95ff -0%, rgba(69, 121, 255, 0) 100%);
  }
  .auto-group-aa9r-bA4 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 0rem 4.8rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .auto-group-jdgg-ikU {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 62.5rem 4.7rem 0rem;
      width: calc(100% - 62.5rem);
      height: 40rem;
      display: flex;

      .ellipse-1-SRa {
        background-image: url('REPLACE_IMAGE:92c4de14488338ef3eb288ee92d131ab0776b036');
        margin-right: 3.4rem;
        width: 40rem;
        background-position: center;
        border-radius: 20rem;
        flex-shrink: 0;
        height: 40rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .auto-group-tlmj-kBN {
        flex-direction: column;
        flex-shrink: 0;
        margin: 9.8rem 0rem 11.3rem 0rem;
        height: calc(100% - 21.1rem);
        display: flex;

        .name-surname-fp8 {
          margin-bottom: 1.7rem;
          font-size: 3.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .namesurnamevesacin-17J {
          margin-bottom: 3rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-1-XrL {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #3a94fe;
          border-radius: 1rem;
          height: 6.2rem;
          text-align: center;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          font-size: 2.5rem;
          font-weight: 600;
          display: flex;
          width: 36.7rem;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
    .your-wish-list-ivp {
      font-weight: 500;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 3rem;
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      flex-shrink: 0;
    }
    .group-14-Ffr {
      margin: 0rem 0rem 6.1rem 3rem;
      box-sizing: border-box;
      padding-right: 0rem;
      height: 30.1rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;

      .group-5-MTz {
        flex-shrink: 0;
        margin-right: 3.9861rem;
        box-sizing: border-box;
        padding: 1.003rem 0.949rem 1.003rem 0.949rem;
        width: 24.6759rem;
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;

        .rectangle-5-47W {
          height: 28.0933rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
          width: 100%;
        }
      }
      .group-4-a5r {
        flex-shrink: 0;
        margin-right: 3.9861rem;
        box-sizing: border-box;
        padding: 1.003rem 0.949rem 1.003rem 0.949rem;
        width: 24.6759rem;
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;

        .rectangle-5-geg {
          width: 100%;
          height: 28.0933rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
      }
      .group-6-c2Y {
        padding: 1.003rem 0.949rem 1.003rem 0.949rem;
        width: 24.6759rem;
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 5rem;
        box-sizing: border-box;

        .rectangle-5-go6 {
          width: 100%;
          height: 28.0933rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
      }
      .group-6-cgk {
        background-color: #4ebffe;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.6241rem;
        box-sizing: border-box;
        padding: 1.003rem 0.949rem 1.003rem 0.949rem;
        width: 24.6759rem;
        height: 100%;

        .rectangle-5-9Rn {
          width: 100%;
          height: 28.0933rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
      }
      .group-7-gAp {
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.003rem 0.949rem 1.003rem 0.949rem;
        width: 24.6759rem;

        .rectangle-5-DRe {
          width: 100%;
          height: 28.0933rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
      }
    }
    .your-previous-purchase-8Hi {
      font-weight: 500;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.5rem;
      width: 100%;
      text-align: center;
      font-size: 3.5rem;
      line-height: 1.2125;
    }
    .group-12-qxp {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.4rem 0rem 3rem;
      width: calc(100% - 5.4rem);
      align-items: center;
      display: flex;

      .group-8-NSx {
        margin-bottom: 5.3216rem;
        width: 100%;
        height: 33.6784rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-6-tRJ {
          position: absolute;
          left: 0.6828rem;
          top: 0;
          background-color: #d9d9d9;
          width: 137.9172rem;
          height: 33.6784rem;
        }
        .rectangle-7-c6Q {
          left: 0;
          top: 0;
          background-color: #b5afaf;
          width: 40.9655rem;
          height: 33.6784rem;
          position: absolute;
        }
        .arduino-uno-r3-wPa {
          width: 28.1rem;
          font-size: 3.6rem;
          white-space: nowrap;
          height: 4.4rem;
          position: absolute;
          left: 49.5483rem;
          top: 6.8rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .item-20-2vp {
          position: absolute;
          text-align: center;
          font-size: 4rem;
          line-height: 1.2125;
          color: #02771c;
          font-family: Inter, 'Source Sans Pro';
          width: 7.7rem;
          height: 4.9rem;
          left: 50.2586rem;
          top: 13.4714rem;
          font-weight: 500;
          white-space: nowrap;
        }
      }
      .group-9-LRi {
        margin-bottom: 5.3108rem;
        width: 100%;
        height: 33.6892rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-6-gkU {
          width: 137.9172rem;
          height: 33.6784rem;
          position: absolute;
          left: 0.6828rem;
          top: 0.0108rem;
          background-color: #d9d9d9;
        }
        .rectangle-7-prg {
          background-color: #b5afaf;
          width: 40.9655rem;
          height: 33.6784rem;
          position: absolute;
          left: 0;
          top: 0.0108rem;
        }
        .lithium-battery-15v-NdJ {
          position: absolute;
          top: 3.3786rem;
          text-align: center;
          font-size: 2rem;
          white-space: nowrap;
          width: 18.8rem;
          height: 2.5rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          left: 69.4586rem;
          font-weight: 500;
        }
        .item-2-gP6 {
          height: 2.5rem;
          position: absolute;
          left: 52.6379rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.2125;
          color: #02771c;
          width: 2.6rem;
          top: 13.4822rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-8-kNx {
          width: 138.6rem;
          height: 33.6784rem;
          position: absolute;
          left: 0;
          top: 0;

          .rectangle-6-rwn {
            left: 0.6828rem;
            top: 0;
            background-color: #d9d9d9;
            width: 137.9172rem;
            height: 33.6784rem;
            position: absolute;
          }
          .rectangle-7-v4U {
            background-color: #b5afaf;
            width: 40.9655rem;
            height: 33.6784rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .ram-8gb-4wN {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            width: 16.4rem;
            height: 4.4rem;
            position: absolute;
            left: 50.0983rem;
            top: 6.8rem;
            text-align: center;
            font-size: 3.6rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-5-PCx {
            width: 5.1rem;
            height: 4.9rem;
            font-size: 4rem;
            color: #02771c;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 51.5586rem;
            top: 13.4714rem;
            text-align: center;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .group-10-HJL {
        width: 100%;
        height: 33.7rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-6-CgC {
          width: 137.9172rem;
          height: 33.6784rem;
          position: absolute;
          left: 0.6828rem;
          top: 0.0216rem;
          background-color: #d9d9d9;
        }
        .rectangle-7-L1i {
          left: 0;
          top: 0.0216rem;
          background-color: #b5afaf;
          width: 40.9655rem;
          height: 33.6784rem;
          position: absolute;
        }
        .copper-wires-5V6 {
          text-align: center;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 13.1rem;
          height: 2.5rem;
          top: 3.9507rem;
          white-space: nowrap;
          position: absolute;
          left: 62.5793rem;
          font-size: 2rem;
        }
        .item-20-Pkg {
          position: absolute;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          width: 3.9rem;
          height: 2.5rem;
          left: 52.1586rem;
          top: 13.493rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.2125;
          color: #02771c;
          white-space: nowrap;
        }
        .group-8-tBe {
          height: 33.6784rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 138.6rem;

          .rectangle-6-cdS {
            background-color: #d9d9d9;
            width: 137.9172rem;
            height: 33.6784rem;
            position: absolute;
            left: 0.6828rem;
            top: 0;
          }
          .rectangle-7-LJY {
            width: 40.9655rem;
            height: 33.6784rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #b5afaf;
          }
          .micro-processor-frc {
            position: absolute;
            top: 6.8rem;
            text-align: center;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 28rem;
            height: 4.4rem;
            white-space: nowrap;
            font-weight: 500;
            left: 49.5983rem;
            font-size: 3.6rem;
          }
          .item-20-LSx {
            height: 4.9rem;
            position: absolute;
            top: 13.4714rem;
            font-weight: 500;
            color: #02771c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 7.7rem;
            text-align: center;
            font-size: 4rem;
            line-height: 1.2125;
            left: 50.2586rem;
          }
        }
      }
    }
  }
}
