
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.empty-cart-Vat {
  width: 100%;
  height: 148.8rem;
  overflow: hidden;
  position: relative;

  .view-cart-Sm2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #e0f1f5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .auto-group-wnds-nK6 {
      flex-shrink: 0;
      width: 100%;
      height: 15rem;
      position: relative;

      .bytesize-cart-Y3N {
        vertical-align: top;
        width: 5.6rem;
        height: 5.4rem;
        position: absolute;
        left: 112.7rem;
        top: 4.7rem;
        object-fit: contain;
      }
      .new-logo-colour-1-Ewn {
        vertical-align: top;
        width: 11.8rem;
        height: 14.2rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .group-1-riG {
        height: 6.4rem;
        position: absolute;
        left: 14.4rem;
        top: 4.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 101.6rem;
      }
      .group-8-CXE {
        object-fit: contain;
        vertical-align: top;
        width: 101.6rem;
        height: 6.4rem;
        position: absolute;
        left: 14.4rem;
        top: 4.3rem;
      }
      .group-7-j1N {
        background-color: #ffffff;
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 1.7rem 3.4rem 1.4rem 2.7rem;
        width: 18.4rem;
        height: 6.4rem;
        position: absolute;
        left: 121.8rem;
        top: 4.3rem;
        display: flex;
        align-items: center;

        .group-2-dMe {
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.6rem 0.3rem 0rem;
          width: 3.2rem;
        }
        .login-kBN {
          margin-top: 0.2rem;
          font-size: 2.6rem;
          font-weight: 400;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-k91e-Tba {
      padding: 1.9rem 2.2rem 2.1rem 2.7rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-b1nc-bxg {
        margin-bottom: 2rem;
        width: 100%;
        height: 67.2rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-3848-Ysv {
          width: 137.5rem;
          height: 67.2rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
        }
        .my-cart-hF2 {
          font-weight: 700;
          line-height: 1.1725;
          white-space: nowrap;
          position: absolute;
          left: 3.1rem;
          font-size: 4rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 17.2rem;
          height: 4.7rem;
          top: 2.7rem;
        }
        .rectangle-3851-1mW {
          width: 131.2rem;
          height: 0.1rem;
          position: absolute;
          left: 2.8rem;
          top: 8rem;
          background-color: #857d7d;
        }
        .your-cart-is-empty-g6x {
          top: 44rem;
          font-size: 3.6rem;
          line-height: 1.38;
          width: 27.7rem;
          height: 5rem;
          position: absolute;
          font-family: Akshar, 'Source Sans Pro';
          white-space: nowrap;
          left: 53.1rem;
          font-weight: 400;
          color: #000000;
        }
        .image-1-ai8 {
          width: 31.1rem;
          height: 28.3rem;
          position: absolute;
          left: 53.8rem;
          top: 13.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-evpn-7i4 {
        width: 137.5rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 1.6rem;
        box-sizing: border-box;
        padding: 2.6rem 2.5rem 21.9rem 2.6rem;

        .you-may-like-nZJ {
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.8rem 0.5rem;
        }
        .rectangle-3862-KZE {
          margin-bottom: 5.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #857d7d;
        }
        .also-bought-sqe {
          column-gap: 5.5rem;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          margin: 0rem 1rem 0rem 0.6rem;
          width: calc(100% - 1.6rem);
          overflow: hidden;
          position: relative;
          display: flex;

          .rectangle-3863-c2Y {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
          .rectangle-3866-w4p {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
          .rectangle-3865-h3z {
            flex-shrink: 0;
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
          }
          .rectangle-3867-rSg {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
          .rectangle-3869-p8c {
            flex-shrink: 0;
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
          }
        }
      }
    }
  }
}
