
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-1-gzg {
  width: 100%;
  height: 176rem;
  overflow: hidden;
  position: relative;
}
.frame-1-gzg .view-cart-7q6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e0f1f5;
}
.frame-1-gzg .view-cart-7q6 .top-PJk {
  margin-bottom: 1.9rem;
  box-sizing: border-box;
  padding: 0.8rem 3.8rem 0rem 2.4rem;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .new-logo-colour-2-C1J {
  margin-right: 0.9rem;
  width: 11.8rem;
  height: 14.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .search-group-JKE {
  margin: 3.9rem 2.9rem 3.9rem 0rem;
  box-sizing: border-box;
  padding: 2.075rem 2.5rem 2.139rem 2.5rem;
  width: 94.7rem;
  height: calc(100% - 7.8rem);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .search-group-JKE .ic-baseline-search-XSt {
  margin-right: 87.368rem;
  width: 2.332rem;
  height: 2.1863rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .bytesize-cart-2eY {
  margin: 0rem 3.5rem 0.2rem 0rem;
  width: 5.6rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .group-7-j3A {
  margin: 3.9rem 0;
  box-sizing: border-box;
  padding: 1.2rem 3.4rem 1.4rem 3rem;
  height: calc(100% - 7.8rem);
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .group-7-j3A .group-2-deL {
  margin: 0rem 2.3rem 0.252rem 0rem;
  width: 3.2rem;
  height: 3.5484rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .top-PJk .group-7-j3A .login-7pQ {
  margin-top: 0.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn {
  margin: 0rem 3.8rem 2rem 2.7rem;
  width: calc(100% - 6.5rem);
  height: 77.7rem;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .my-cart-K9n {
  width: 17.2rem;
  height: 4.7rem;
  position: absolute;
  left: 4.9051rem;
  top: 1.9rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .rectangle-3851-5oA {
  width: 127.2152rem;
  height: 0.1rem;
  position: absolute;
  left: 4.4304rem;
  top: 7.1rem;
  background-color: #857d7d;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde {
  width: 115.743rem;
  height: 50.6rem;
  position: absolute;
  left: 4.9051rem;
  top: 13.3rem;
  display: flex;
  align-items: center;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .group-4-syv {
  height: 100%;
  row-gap: 2.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .group-4-syv .rectangle-3853-ocg {
  width: 24.8606rem;
  height: 15.4rem;
  background-color: rgba(224, 241, 245, 0.6999999881);
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .group-4-syv .rectangle-3854-vUL {
  margin-right: 0.1344rem;
  width: 24.8606rem;
  height: 15.4rem;
  background-color: rgba(224, 241, 245, 0.6999999881);
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .group-4-syv .rectangle-3855-rsn {
  width: 24.8606rem;
  height: 15.4rem;
  background-color: rgba(224, 241, 245, 0.6999999881);
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0.1rem 8.6rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx {
  margin: 0.8rem 50.424rem 1.2rem 0rem;
  width: 26.4241rem;
  height: calc(100% - 2rem);
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .description--18Q {
  margin: 0rem 0rem 1rem 0.582rem;
  max-width: 12rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-1-txt {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-1-txt .auto-group-f2mj-SUc {
  margin-right: 1.7405rem;
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-1-txt .auto-group-wpbr-m16 {
  margin-right: 1.7405rem;
  width: 12.8165rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-1-txt .auto-group-ixq4-C6Q {
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .description--vHJ {
  margin: 0rem 0rem 1rem 0.582rem;
  max-width: 12rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-4-Ckc {
  margin-bottom: 5.8rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-4-Ckc .auto-group-dczq-wy6 {
  margin-right: 1.7405rem;
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-4-Ckc .auto-group-zkkv-1i4 {
  margin-right: 1.7405rem;
  width: 12.8165rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .quantity-group-4-Ckc .auto-group-nk88-HvU {
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ {
  width: 100%;
  height: 11.4rem;
  position: relative;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ .quantity-group-5-Zd6 {
  width: 26.4241rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 6.9rem;
  display: flex;
  align-items: center;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ .quantity-group-5-Zd6 .auto-group-meay-W2Y {
  margin-right: 1.7405rem;
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ .quantity-group-5-Zd6 .auto-group-ucgu-DxY {
  margin-right: 1.7405rem;
  width: 12.8165rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ .quantity-group-5-Zd6 .auto-group-gm4g-uKa {
  width: 5.0633rem;
  height: 4.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .auto-group-vcza-VQx .auto-group-jlk4-QVJ .description--3wa {
  width: 12rem;
  height: 8.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-xasg-yde .auto-group-sxb6-BfA .price-aAp {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY {
  width: 127.7rem;
  height: 5.2rem;
  position: absolute;
  left: 4.9rem;
  top: 68.5rem;
  display: flex;
  align-items: center;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-qMe {
  margin-right: 41.9455rem;
  width: 42.1545rem;
  height: 100%;
  position: relative;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-qMe .rectangle-3861-nng {
  width: 37.1894rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffa835;
  border-radius: 1.5rem;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-qMe .continue-shopping-6oN {
  width: 32.1rem;
  height: 3.8rem;
  position: absolute;
  left: 1.9rem;
  top: 0.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-xqa {
  box-sizing: border-box;
  padding: 1.4rem 6.2rem 0.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(253, 30, 30, 0.7799999714);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-xqa .icon-park-outline-check-correct-rvx {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .cart-info-bDn .auto-group-b14p-7gY .group-7-xqa .proceed-to-checkout-arx {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv {
  width: 100%;
  height: 79.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 {
  box-sizing: border-box;
  padding: 2.844rem 7.95rem 4.504rem 8rem;
  width: 144rem;
  height: 42.6rem;
  position: absolute;
  left: 0;
  top: 36.8rem;
  overflow: hidden;
  background-color: #12558c;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi {
  box-sizing: border-box;
  padding-top: 8.6558rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .vector-10-H96 {
  margin-bottom: 2.5458rem;
  width: 128.05rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 {
  margin: 0rem 1.35rem 0rem 2rem;
  width: calc(100% - 3.35rem);
  height: 24.0502rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn {
  width: 30.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx {
  box-sizing: border-box;
  padding-bottom: 1.6733rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .reach-us-3Xa {
  margin-bottom: 1.3036rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001747-kwn {
  margin: 0rem 14.7rem 1.673rem 0rem;
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: calc(100% - 14.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001747-kwn .bxs-phone-call-fJ4 {
  margin: 0.17rem 2.7rem 0rem 0rem;
  width: 1.9rem;
  height: 1.6124rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001747-kwn .xxxxxxxxxx-8SY {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001748-sQ8 {
  margin-right: 10.6rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 10.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001748-sQ8 .ic-sharp-email-4Uc {
  margin: 0rem 2.7rem 0.363rem 0rem;
  width: 2rem;
  height: 1.3578rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .auto-group-yssa-Vkx .group-1000001748-sQ8 .isavesitvesacin-CKv {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .group-1000001753-wHW {
  box-sizing: border-box;
  padding-left: 0.375rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .group-1000001753-wHW .carbon-location-filled-exc {
  margin: 0.127rem 2.875rem 0rem 0rem;
  width: 1.65rem;
  height: 1.7821rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .group-1000001767-ATn .group-1000001753-wHW .vivekanand-education-societies-institute-of-technology-hashu-adwani-memorial-complex-collectors-colony-chembur-mumbai-maharashtra-400074-PQQ {
  max-width: 25.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn {
  box-sizing: border-box;
  padding-left: 7.5rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C {
  margin-right: 11rem;
  height: 18.5235rem;
  display: flex;
  column-gap: 6rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001768-5Re {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001768-5Re .company-EpL {
  margin-bottom: 1.3036rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001768-5Re .about-ACC {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001768-5Re .contact-JpC {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001768-5Re .blogs-dba {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 .legal-v4t {
  margin-bottom: 1.3036rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 .privacy-policy-qxY {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 .terms-services-zaY {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 .terms-of-use-8gk {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001769-kw6 .refund-policy-gTN {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001770-ddW {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001770-ddW .quick-links-aHr {
  margin-bottom: 1.3036rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001770-ddW .techlabz-keybox-Hxx {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001770-ddW .downloads-EtC {
  margin-bottom: 1.6733rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .group-1000001771-92C .group-1000001770-ddW .forum-PWC {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .auto-group-imdn-LRS {
  margin-top: 0.2546rem;
  width: 27.7rem;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .auto-group-imdn-LRS .join-our-newsletter-h16 {
  margin-bottom: 2.0673rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4444444444;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .auto-group-imdn-LRS .auto-group-x4sn-qNC {
  box-sizing: border-box;
  padding-left: 1rem;
  width: 100%;
  height: 3.3096rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .auto-group-imdn-LRS .auto-group-x4sn-qNC .your-email-address-xBv {
  margin: 0.427rem 5.5rem 0rem 0rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12558c;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .frame-4-qH6 .group-1000001772-xMi .auto-group-8ueg-Ea8 .auto-group-i5nt-1Rn .auto-group-imdn-LRS .auto-group-x4sn-qNC .auto-group-8dkg-5nL {
  width: 10.5rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-128.png');
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 {
  width: 137.5rem;
  height: 44rem;
  position: absolute;
  left: 3.2rem;
  top: 0;
  background-color: #ffffff;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .customers-also-bought-Eoe {
  width: 42.6rem;
  height: 4.7rem;
  position: absolute;
  left: 3.1rem;
  top: 2.4186rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .rectangle-3862-hBS {
  width: 132.4rem;
  height: 0.093rem;
  position: absolute;
  left: 2.6rem;
  top: 7.5349rem;
  background-color: #857d7d;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG {
  width: 131.8rem;
  height: 23.4rem;
  position: absolute;
  left: 3.2rem;
  top: 12.6rem;
  overflow: hidden;
  display: flex;
  column-gap: 5.5rem;
  align-items: flex-end;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG .rectangle-3863-ns6 {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG .rectangle-3866-ikk {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG .rectangle-3865-stY {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG .rectangle-3867-Eyz {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-1-gzg .view-cart-7q6 .auto-group-ij5z-5Hv .bottom-h32 .also-bought-ESG .rectangle-3869-QNg {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
