
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-8iG {
  width: 100%;
  height: 148.8rem;
}
.frame-2-8iG .view-cart-txL {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e0f1f5;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 {
  width: 100%;
  height: 15rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .bytesize-cart-n28 {
  width: 5.6rem;
  height: 5.4rem;
  position: absolute;
  left: 112.7rem;
  top: 4.7rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .new-logo-colour-1-rXn {
  width: 11.8rem;
  height: 14.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .group-1-oC8 {
  box-sizing: border-box;
  padding-right: 0.2rem;
  width: 101.6rem;
  height: 6.4rem;
  position: absolute;
  left: 14.4rem;
  top: 4.3rem;
  display: flex;
  align-items: flex-start;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .group-1-oC8 .search-bar-WsE {
  margin-right: 3.9rem;
  width: 94.7rem;
  height: 6.4rem;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .group-1-oC8 .bytesize-cart-eiY {
  margin-top: 0.2rem;
  width: 2.8rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .rectangle-3846-NeY {
  width: 18.4rem;
  height: 6.4rem;
  position: absolute;
  left: 121.8rem;
  top: 4.3rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .ic-baseline-search-gv8 {
  width: 2.332rem;
  height: 2.1863rem;
  position: absolute;
  left: 16.9rem;
  top: 6.375rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .group-2-bnC {
  width: 3.2rem;
  height: 3rem;
  position: absolute;
  left: 124.5rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-8iG .view-cart-txL .auto-group-jog8-SU4 .login-81S {
  width: 6.5rem;
  height: 3.1rem;
  position: absolute;
  left: 130.3rem;
  top: 6.2rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit {
  box-sizing: border-box;
  padding: 1.9rem 3.3rem 3.4rem 2.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW {
  margin: 0rem 0.5rem 2.6rem 0rem;
  box-sizing: border-box;
  padding: 2.7rem 3.5rem 2.8rem 2.4rem;
  width: 137.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .my-cart-TC8 {
  margin: 0rem 0rem 2rem 0.5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .rectangle-3870-kh2 {
  margin-bottom: 4.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #857d7d;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY {
  margin: 0rem 6.7rem 4.6rem 1.1rem;
  width: calc(100% - 7.8rem);
  height: 50.6rem;
  display: flex;
  align-items: center;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .group-5-EcC {
  height: 100%;
  row-gap: 2.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .group-5-EcC .rectangle-3853-PV6 {
  width: 18.5rem;
  height: 15.4rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .group-5-EcC .rectangle-3854-wmW {
  margin-right: 0.1rem;
  width: 18.5rem;
  height: 15.4rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .group-5-EcC .rectangle-3855-J6G {
  width: 18.5rem;
  height: 15.4rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ {
  box-sizing: border-box;
  padding-left: 68.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp {
  margin-right: 13.8rem;
  row-gap: 14rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL {
  height: 3.6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL .auto-group-9mpj-s2t {
  margin-right: 0.7rem;
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL .auto-group-dh24-axt {
  margin-right: 1.5rem;
  width: 8.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL .auto-group-dh24-axt .rectangle-3858-jKz {
  width: 8.1rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL .auto-group-dh24-axt .item-1-Dkx {
  width: 1.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.7rem;
  top: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-WCL .auto-group-dfzn-vvG {
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe {
  height: 3.6rem;
  display: flex;
  column-gap: 1.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe .auto-group-ej1r-S7v {
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe .auto-group-lerq-AZi {
  width: 8.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe .auto-group-lerq-AZi .rectangle-3858-hZe {
  width: 8.1rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe .auto-group-lerq-AZi .item-1-SXE {
  width: 1.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.3rem;
  top: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-gPe .auto-group-bqqa-m3i {
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E {
  margin-left: 0.4rem;
  height: 3.6rem;
  display: flex;
  column-gap: 1.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E .auto-group-tvc8-rax {
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E .auto-group-u49s-C92 {
  width: 8.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E .auto-group-u49s-C92 .rectangle-3858-wMW {
  width: 8.1rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0799999982);
  border-radius: 0.7rem;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E .auto-group-u49s-C92 .item-1-3QY {
  width: 1.4rem;
  height: 2.9rem;
  position: absolute;
  left: 3.3rem;
  top: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-bv7n-xAp .quantity-group-K5E .auto-group-vppw-Kcx {
  width: 3.2rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-3vbe-sPa {
  row-gap: 14.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-3vbe-sPa .price-RR6 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-3vbe-sPa .price-wuE {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-bcct-JiY .auto-group-uq6p-PtQ .auto-group-3vbe-sPa .price-snt {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW {
  margin: 0rem 3.6rem 0rem 1.2rem;
  width: calc(100% - 4.8rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-6-krg {
  margin-right: 40.8455rem;
  width: 42.1545rem;
  height: 100%;
  position: relative;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-6-krg .rectangle-3861-iHi {
  width: 37.1894rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffa835;
  border-radius: 1.5rem;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-6-krg .continue-shopping-fCx {
  width: 32.1rem;
  height: 3.8rem;
  position: absolute;
  left: 1.9rem;
  top: 0.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-4-mWt {
  box-sizing: border-box;
  padding: 1.4rem 6.2rem 0.7rem 3.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(253, 30, 30, 0.7799999714);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-4-mWt .icon-park-outline-check-correct-4Vz {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .auto-group-xqwp-koW .auto-group-r8ix-RZW .group-4-mWt .proceed-to-checkout-BqW {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 {
  margin-left: 0.3rem;
  width: 137.5rem;
  height: 48.6rem;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .customers-also-bought-R7a {
  width: 42.6rem;
  height: 4.7rem;
  position: absolute;
  left: 3.1rem;
  top: 2.6715rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .rectangle-3862-gJQ {
  width: 132.4rem;
  height: 0.1027rem;
  position: absolute;
  left: 2.6rem;
  top: 8.3226rem;
  background-color: #857d7d;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz {
  box-sizing: border-box;
  padding-top: 0.6464rem;
  width: 131.8rem;
  height: 25.8464rem;
  position: absolute;
  left: 3.2rem;
  top: 13.9173rem;
  overflow: hidden;
  display: flex;
  column-gap: 5.5rem;
  align-items: flex-end;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz .rectangle-3863-W2Y {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz .rectangle-3866-Fkp {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz .rectangle-3865-Pc8 {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz .rectangle-3867-x9S {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
.frame-2-8iG .view-cart-txL .auto-group-wjet-dit .bottom-5R6 .also-bought-RFz .rectangle-3869-gr8 {
  width: 24.3rem;
  height: 25.2rem;
  background-color: #e0f1f5;
  flex-shrink: 0;
}
