
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-8iG {
  width: 100%;
  height: 148.8rem;

  .view-cart-txL {
    flex-direction: column;
    background-color: #e0f1f5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;

    .auto-group-jog8-SU4 {
      height: 15rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .bytesize-cart-n28 {
        object-fit: contain;
        vertical-align: top;
        width: 5.6rem;
        height: 5.4rem;
        position: absolute;
        left: 112.7rem;
        top: 4.7rem;
      }
      .new-logo-colour-1-rXn {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 11.8rem;
        height: 14.2rem;
        position: absolute;
      }
      .group-1-oC8 {
        top: 4.3rem;
        width: 101.6rem;
        height: 6.4rem;
        position: absolute;
        left: 14.4rem;
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        padding-right: 0.2rem;

        .search-bar-WsE {
          margin-right: 3.9rem;
          width: 94.7rem;
          height: 6.4rem;
          background-color: #ffffff;
          border-radius: 2rem;
          flex-shrink: 0;
        }
        .bytesize-cart-eiY {
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.2rem;
          width: 2.8rem;
        }
      }
      .rectangle-3846-NeY {
        left: 121.8rem;
        top: 4.3rem;
        background-color: #ffffff;
        border-radius: 2rem;
        width: 18.4rem;
        height: 6.4rem;
        position: absolute;
      }
      .ic-baseline-search-gv8 {
        top: 6.375rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.332rem;
        height: 2.1863rem;
        position: absolute;
        left: 16.9rem;
      }
      .group-2-bnC {
        width: 3.2rem;
        height: 3rem;
        position: absolute;
        left: 124.5rem;
        top: 6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .login-81S {
        height: 3.1rem;
        position: absolute;
        left: 130.3rem;
        font-size: 2.6rem;
        line-height: 1.1725;
        white-space: nowrap;
        width: 6.5rem;
        top: 6.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
      }
    }
    .auto-group-wjet-dit {
      box-sizing: border-box;
      padding: 1.9rem 3.3rem 3.4rem 2.9rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-xqwp-koW {
        width: 137.3rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0rem 0.5rem 2.6rem 0rem;
        box-sizing: border-box;
        padding: 2.7rem 3.5rem 2.8rem 2.4rem;

        .my-cart-TC8 {
          font-weight: 700;
          line-height: 1.1725;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 2rem 0.5rem;
          font-size: 4rem;
        }
        .rectangle-3870-kh2 {
          height: 0.1rem;
          background-color: #857d7d;
          margin-bottom: 4.6rem;
          width: 100%;
        }
        .auto-group-bcct-JiY {
          display: flex;
          align-items: center;
          margin: 0rem 6.7rem 4.6rem 1.1rem;
          width: calc(100% - 7.8rem);
          height: 50.6rem;

          .group-5-EcC {
            height: 100%;
            row-gap: 2.2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .rectangle-3853-PV6 {
              width: 18.5rem;
              height: 15.4rem;
              background-color: #e0f1f5;
              flex-shrink: 0;
            }
            .rectangle-3854-wmW {
              margin-right: 0.1rem;
              width: 18.5rem;
              height: 15.4rem;
              background-color: #e0f1f5;
              flex-shrink: 0;
            }
            .rectangle-3855-J6G {
              height: 15.4rem;
              background-color: #e0f1f5;
              flex-shrink: 0;
              width: 18.5rem;
            }
          }
          .auto-group-uq6p-PtQ {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 68.8rem;
            height: 100%;

            .auto-group-bv7n-xAp {
              margin-right: 13.8rem;
              row-gap: 14rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .quantity-group-WCL {
                height: 3.6rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-9mpj-s2t {
                  margin-right: 0.7rem;
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-dh24-axt {
                  margin-right: 1.5rem;
                  width: 8.1rem;
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;

                  .rectangle-3858-jKz {
                    background-color: rgba(0, 0, 0, 0.0799999982);
                    border-radius: 0.7rem;
                    width: 8.1rem;
                    height: 3.4rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                  .item-1-Dkx {
                    top: 0.7rem;
                    line-height: 1.1725;
                    white-space: nowrap;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    width: 1.4rem;
                    height: 2.9rem;
                    position: absolute;
                    left: 3.7rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                  }
                }
                .auto-group-dfzn-vvG {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                }
              }
              .quantity-group-gPe {
                column-gap: 1.1rem;
                align-items: flex-start;
                flex-shrink: 0;
                height: 3.6rem;
                display: flex;

                .auto-group-ej1r-S7v {
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-lerq-AZi {
                  flex-shrink: 0;
                  width: 8.1rem;
                  height: 100%;
                  position: relative;

                  .rectangle-3858-hZe {
                    left: 0;
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.0799999982);
                    border-radius: 0.7rem;
                    width: 8.1rem;
                    height: 3.4rem;
                    position: absolute;
                  }
                  .item-1-SXE {
                    font-size: 2.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    height: 2.9rem;
                    position: absolute;
                    top: 0.7rem;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                    width: 1.4rem;
                    left: 3.3rem;
                    line-height: 1.1725;
                  }
                }
                .auto-group-bqqa-m3i {
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .quantity-group-K5E {
                margin-left: 0.4rem;
                height: 3.6rem;
                display: flex;
                column-gap: 1.1rem;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-tvc8-rax {
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .auto-group-u49s-C92 {
                  flex-shrink: 0;
                  width: 8.1rem;
                  height: 100%;
                  position: relative;

                  .rectangle-3858-wMW {
                    top: 0;
                    background-color: rgba(0, 0, 0, 0.0799999982);
                    border-radius: 0.7rem;
                    width: 8.1rem;
                    height: 3.4rem;
                    position: absolute;
                    left: 0;
                  }
                  .item-1-3QY {
                    position: absolute;
                    left: 3.3rem;
                    font-weight: 400;
                    white-space: nowrap;
                    width: 1.4rem;
                    height: 2.9rem;
                    top: 0.7rem;
                    font-size: 2.4rem;
                    line-height: 1.1725;
                    color: #000000;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .auto-group-vppw-Kcx {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 3.2rem;
                  height: 3.4rem;
                  position: relative;
                  object-fit: contain;
                }
              }
            }
            .auto-group-3vbe-sPa {
              row-gap: 14.7rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .price-RR6 {
                line-height: 1.1725;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
              }
              .price-wuE {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1725;
                color: #000000;
              }
              .price-snt {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.1725;
                color: #000000;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-r8ix-RZW {
          display: flex;
          align-items: center;
          margin: 0rem 3.6rem 0rem 1.2rem;
          width: calc(100% - 4.8rem);
          height: 5.2rem;

          .group-6-krg {
            width: 42.1545rem;
            height: 100%;
            position: relative;
            border-radius: 1.5rem;
            flex-shrink: 0;
            margin-right: 40.8455rem;

            .rectangle-3861-iHi {
              left: 0;
              top: 0;
              background-color: #ffa835;
              border-radius: 1.5rem;
              width: 37.1894rem;
              height: 5.2rem;
              position: absolute;
            }
            .continue-shopping-fCx {
              font-weight: 400;
              line-height: 1.1725;
              color: #000000;
              position: absolute;
              left: 1.9rem;
              top: 0.6rem;
              font-size: 3.2rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              width: 32.1rem;
              height: 3.8rem;
            }
          }
          .group-4-mWt {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: rgba(253, 30, 30, 0.7799999714);
            border-radius: 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.4rem 6.2rem 0.7rem 3.6rem;

            .icon-park-outline-check-correct-4Vz {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.9rem 0.1rem 0rem;
              width: 2.4rem;
            }
            .proceed-to-checkout-BqW {
              line-height: 1.1725;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.6rem;
              font-weight: 500;
            }
          }
        }
      }
      .bottom-5R6 {
        flex-shrink: 0;
        margin-left: 0.3rem;
        width: 137.5rem;
        height: 48.6rem;
        position: relative;
        background-color: #ffffff;

        .customers-also-bought-R7a {
          height: 4.7rem;
          position: absolute;
          top: 2.6715rem;
          line-height: 1.1725;
          color: #12558c;
          width: 42.6rem;
          left: 3.1rem;
          font-size: 4rem;
          font-weight: 600;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-3862-gJQ {
          position: absolute;
          left: 2.6rem;
          top: 8.3226rem;
          background-color: #857d7d;
          width: 132.4rem;
          height: 0.1027rem;
        }
        .also-bought-RFz {
          height: 25.8464rem;
          top: 13.9173rem;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          padding-top: 0.6464rem;
          width: 131.8rem;
          position: absolute;
          left: 3.2rem;
          overflow: hidden;
          column-gap: 5.5rem;
          align-items: flex-end;

          .rectangle-3863-W2Y {
            background-color: #e0f1f5;
            flex-shrink: 0;
            width: 24.3rem;
            height: 25.2rem;
          }
          .rectangle-3866-Fkp {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
          .rectangle-3865-Pc8 {
            flex-shrink: 0;
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
          }
          .rectangle-3867-x9S {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
          .rectangle-3869-gr8 {
            width: 24.3rem;
            height: 25.2rem;
            background-color: #e0f1f5;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
