
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.home-page-U7e {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-hwvn-TEU {
    margin-bottom: 0.4rem;
    width: 100%;
    height: 9.6rem;
    position: relative;
    flex-shrink: 0;

    .navbar-TnC {
      align-items: center;
      box-sizing: border-box;
      width: 172.8rem;
      height: 9rem;
      position: absolute;
      top: 0;
      display: flex;
      padding: 0rem 6.4rem 0rem 39.45rem;
      left: 0;

      .categorias-8dS {
        margin: 3.15rem 14.45rem 3.15rem 0rem;
        height: calc(100% - 6.3rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .smart-home-FCG {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          margin-right: 9.15rem;
          display: flex;
          justify-content: center;
          line-height: 1.5;
        }
        .switches-ha4 {
          margin-right: 9.3rem;
          align-items: center;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 1.8rem;
          font-weight: 600;
        }
        .sockets-26Y {
          display: flex;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.2rem;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
        }
        .sensores-wjJ {
          justify-content: center;
          font-weight: 600;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 9.1rem;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.5;
        }
        .lamps-s7A {
          margin-right: 8.55rem;
          font-size: 1.8rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          line-height: 1.5;
          flex-shrink: 0;
        }
        .see-more-nzp {
          justify-content: center;
          font-size: 1.8rem;
          color: #000000;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-weight: 600;
          line-height: 1.5;
        }
      }
      .icons-WR2 {
        width: 18rem;
        height: 9rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .new-logo-colour-1-pRi {
      top: 0.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 9.9rem;
      height: 9rem;
      position: absolute;
      left: 0;
    }
  }
  .frame-1-X5E {
    width: 100%;
    height: 76rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    flex-shrink: 0;

    .banner3-evY {
      left: 343.6rem;
      top: -4.7rem;
      width: 189.2724rem;
      height: 80.7rem;
      position: absolute;

      .tabler-discount-check-Mpx {
        top: 31.4641rem;
        object-fit: contain;
        vertical-align: top;
        width: 22.4969rem;
        height: 22.4969rem;
        position: absolute;
        left: 89.5641rem;
      }
      .rectangle-1-HCp {
        top: 4.7rem;
        background: linear-gradient(180deg, #232323 -0%, #000000 100%);
        width: 172.8rem;
        height: 76rem;
        position: absolute;
        left: 14.4rem;
      }
      .line-1-LB6 {
        width: 35.9635rem;
        height: 38.5077rem;
        position: absolute;
        left: 13.8rem;
        top: 42.1792rem;
        object-fit: contain;
        vertical-align: top;
      }
      .line-2-Szp {
        position: absolute;
        left: 146.54rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 42.7323rem;
        height: 27.9463rem;
      }
      .discount-on-first-purchase-zFe {
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        font-size: 8rem;
        white-space: nowrap;
        width: 177.4rem;
        left: 0;
        top: 32.5rem;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        line-height: 1.2175;
        color: #ffffff;
        height: 9.8rem;
        position: absolute;
      }
      .image-3-fsa {
        left: 117.8rem;
        top: 19.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 63rem;
        height: 50.7rem;
        position: absolute;
      }
      .group-1Ak {
        vertical-align: top;
        width: 28.7rem;
        height: 28.7rem;
        position: absolute;
        left: 22.8rem;
        top: 13.3rem;
        object-fit: contain;
      }
    }
    .banner2-wKJ {
      left: 155.85rem;
      top: -4.1rem;
      width: 195.95rem;
      height: 80.1077rem;
      position: absolute;

      .rectangle-1-ToS {
        height: 76rem;
        position: absolute;
        left: 23.15rem;
        top: 4.1rem;
        background: linear-gradient(180deg, #232323 -0%, #000000 100%);
        width: 172.8rem;
      }
      .sonoff-tx-series-range-aNG {
        font-size: 9rem;
        font-weight: 600;
        color: #ffffff;
        white-space: nowrap;
        width: 118.4rem;
        display: flex;
        line-height: 1.2175;
        top: 44.4rem;
        align-items: center;
        font-family: Montserrat, 'Source Sans Pro';
        justify-content: center;
        height: 11rem;
        position: absolute;
        left: 0;
      }
      .rectangle-2-SvG {
        width: 30rem;
        height: 1rem;
        position: absolute;
        left: 43.05rem;
        top: 65.9rem;
        background-color: #103f74;
      }
      .image-2-Bcx {
        background-position: -3.57rem -6.1188rem;
        background-image: url('REPLACE_IMAGE:6da6eac302a6c2bdf2f1f059a87c0d1da259d8c3');
        width: 96.9rem;
        height: 53.2rem;
        position: relative;
        left: 81.8501rem;
        top: 19.7rem;
        background-size: 107.368% 130.351%;
      }
      .rectangle-3-rDJ {
        position: absolute;
        left: 153.6501rem;
        top: 25.2rem;
        background-color: #103f74;
        border-radius: 2.5rem;
        width: 30rem;
        height: 5.3rem;
      }
      .off-mbA {
        align-items: center;
        justify-content: center;
        font-size: 9rem;
        font-weight: 600;
        height: 11rem;
        position: absolute;
        color: #ffffff;
        font-family: Montserrat, 'Source Sans Pro';
        width: 32rem;
        white-space: nowrap;
        top: 14.2rem;
        display: flex;
        line-height: 1.2175;
        left: 152.6001rem;
      }
      .buy-now-fRe {
        justify-content: center;
        font-size: 2.4rem;
        height: 3rem;
        align-items: center;
        font-weight: 600;
        top: 26.4rem;
        line-height: 1.2175;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        width: 18rem;
        position: absolute;
        left: 159.6501rem;
        display: flex;
        white-space: nowrap;
      }
      .line-2-Nax {
        width: 42.7323rem;
        height: 27.9463rem;
        position: absolute;
        left: 21.25rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .line-1-v6g {
        width: 35.9635rem;
        height: 38.5077rem;
        position: absolute;
        left: 159.95rem;
        top: 41.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .banner1-rW8 {
      width: 175.4723rem;
      height: 80.6868rem;
      position: absolute;
      left: 0;
      top: -4.0106rem;

      .rectangle-1-bTi {
        height: 76rem;
        position: absolute;
        left: 0;
        top: 4.0106rem;
        background: linear-gradient(180deg, #232323 -0%, #000000 100%);
        width: 172.8rem;
      }
      .auto-group-qtwg-Kec {
        width: 67.7332rem;
        height: 58.2263rem;
        position: absolute;
        left: 0;
        top: 22.4606rem;

        .line-1-GJx {
          object-fit: contain;
          vertical-align: top;
          width: 35.9635rem;
          height: 38.5077rem;
          position: absolute;
          left: 0;
          top: 19.7186rem;
        }
        .title-1nL {
          width: 60.8rem;
          height: 29.75rem;
          position: absolute;
          left: 6.15rem;
          top: 0;

          .rectangle-2-N76 {
            height: 1rem;
            position: absolute;
            left: 15.35rem;
            top: 28.75rem;
            background-color: #9dafce;
            width: 30rem;
          }
          .arduino-uno-Sua {
            color: #ffffff;
            width: 60.8rem;
            height: 29.3rem;
            left: 0;
            top: 0;
            align-items: center;
            font-size: 12rem;
            line-height: 1.2175;
            font-family: Montserrat, 'Source Sans Pro';
            position: absolute;
            display: flex;
            justify-content: center;
            font-weight: 600;
          }
        }
      }
      .auto-group-5e4k-kfN {
        width: 105.2892rem;
        height: 76.6106rem;
        position: absolute;
        left: 69.4rem;
        top: 0;

        .auto-group-4nax-tWg {
          margin-bottom: 17.8rem;
          width: 100%;
          height: 57.1106rem;
          position: relative;

          .line-2-EaY {
            object-fit: contain;
            vertical-align: top;
            width: 42.7323rem;
            height: 27.9463rem;
            position: absolute;
            left: 62.5568rem;
            top: 0;
          }
          .title2-aeQ {
            box-sizing: border-box;
            width: 35.2rem;
            flex-direction: column;
            top: 20.2106rem;
            align-items: center;
            display: flex;
            border-radius: 3rem;
            padding: 0 2.6rem;
            height: 29.6rem;
            position: absolute;
            left: 64.4rem;

            .off-UUt {
              margin-bottom: 1.2rem;
              align-items: center;
              font-family: Montserrat, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 26.8rem;
              display: flex;
              justify-content: center;
              font-size: 9rem;
              font-weight: 600;
              line-height: 1.2175;
              color: #ffffff;
            }
            .btn-NKN {
              font-weight: 600;
              justify-content: center;
              align-items: center;
              color: #000000;
              height: 6.4rem;
              line-height: 1.2175;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.4rem;
              display: flex;
              font-family: Montserrat, 'Source Sans Pro';
              background-color: #9dafce;
              border-radius: 3rem;
              width: 100%;
            }
          }
          .image-24-qye {
            object-fit: cover;
            vertical-align: top;
            width: 62.6rem;
            height: 41.7rem;
            position: absolute;
            left: 0;
            top: 15.4106rem;
          }
        }
        .seletores-Zek {
          margin-left: 11.6rem;
          display: flex;
          align-items: center;

          .ellipse-1-hkx {
            background-color: #9dafce;
            border-radius: 0.85rem;
            flex-shrink: 0;
            margin-right: 1.36rem;
            width: 1.7rem;
            height: 1.7rem;
            border: solid 0.1rem rgba(255, 255, 255, 0.75);
            box-sizing: border-box;
          }
          .ellipse-2-zk4 {
            border-radius: 0.85rem;
            flex-shrink: 0;
            margin-right: 1.36rem;
            width: 1.7rem;
            height: 1.7rem;
            border: solid 0.1rem rgba(255, 255, 255, 0.75);
            box-sizing: border-box;
          }
          .ellipse-3-vNp {
            height: 1.7rem;
            border: solid 0.1rem rgba(255, 255, 255, 0.75);
            box-sizing: border-box;
            border-radius: 0.85rem;
            flex-shrink: 0;
            margin-right: 1.36rem;
            width: 1.7rem;
          }
          .ellipse-4-eZi {
            box-sizing: border-box;
            border-radius: 0.85rem;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            border: solid 0.1rem rgba(255, 255, 255, 0.75);
          }
        }
      }
    }
  }
  .auto-group-shat-Kvk {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.2rem 2.892rem 2.15rem 6.7rem;
    width: 100%;
    align-items: center;
    display: flex;

    .tags-eCL {
      margin: 0rem 3.708rem 5.9rem 0rem;
      height: 6.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .tag-kFN {
        margin-right: 10.6rem;
        width: 32rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .emi-options-g92 {
          width: 11.4rem;
          align-items: center;
          justify-content: center;
          font-size: 1.8rem;
          position: absolute;
          top: 1.9rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          left: 13.5rem;
          display: flex;
          font-weight: 600;
          height: 2.7rem;
        }
        .vector-xsE {
          width: 4.2rem;
          height: 3.2rem;
          position: absolute;
          left: 4.1rem;
          top: 1.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .rectangle-2-uGg {
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1rem;
          width: 32rem;
          height: 6.4rem;
          position: absolute;
        }
      }
      .tag-qAL {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        border: solid 0.1rem #000000;
        margin-right: 10.5rem;
        padding: 1.6rem 6.288rem 1.605rem 6.9rem;

        .vector-xVr {
          flex-shrink: 0;
          margin-right: 1.812rem;
          width: 4.4rem;
          height: 3.195rem;
          object-fit: contain;
          vertical-align: top;
        }
        .free-delivery-W1a {
          align-items: center;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.105rem;
          justify-content: center;
          font-size: 1.8rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          display: flex;
        }
      }
      .tag-oFa {
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        padding: 1.1rem 2.4rem 1.1rem 2.9rem;
        height: 100%;
        margin-right: 10.4rem;
        border-radius: 1rem;
        flex-shrink: 0;

        .vector-vLC {
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
          width: 3.2rem;
        }
        .compra-100-segura-4SQ {
          font-weight: 600;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          justify-content: center;
          line-height: 1.5;
          margin-bottom: 0.1rem;
          align-items: center;
        }
      }
      .tag-wWC {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 2.7rem 1.2rem 3rem;
        height: 100%;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 1rem;

        .vector-HKA {
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.985rem;
          width: 4.015rem;
        }
        .off-1st-purchase-2nY {
          justify-content: center;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.1rem;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          color: #000000;
          flex-shrink: 0;
        }
      }
    }
    .banners-categorias-L2Y {
      flex-direction: column;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 8.308rem 5.915rem 4.1rem;
      width: calc(100% - 12.4075rem);
      align-items: flex-end;
      display: flex;

      .auto-group-ko9e-eov {
        height: 34.4617rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.096rem 2.297rem 0.7rem;
        width: calc(100% - 0.7957rem);

        .cat1-Zvt {
          width: 74.2842rem;
          letter-spacing: 0.8rem;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-weight: 600;
          border-radius: 1rem;
          font-family: Poppins, 'Source Sans Pro';
          background-color: rgba(0, 0, 0, 0.6000000238);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          color: #ffffff;
          background-position: center;
          margin-right: 1.5316rem;
          height: 100%;
          display: flex;
          justify-content: center;
          font-size: 4rem;
          line-height: 1.5;
          background-image: url('REPLACE_IMAGE:f05107196984d8aca760cd083124a2610fc29c24');
        }
        .cat2-cPN {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border-radius: 1rem;
          width: 74.1885rem;
          line-height: 1.5;
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.6000000238);
          background-position: center;
          flex-shrink: 0;
          height: 100%;
          font-weight: 600;
          letter-spacing: 0.8rem;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          font-size: 4rem;
          background-image: url('REPLACE_IMAGE:4b7d802a830230c3484c3c7d78a7acf930a70f5e');
        }
      }
      .auto-group-eimz-t5z {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 34.5025rem;
        display: flex;

        .cat3-dZN {
          margin-right: 1.5316rem;
          width: 74.9842rem;
          height: 100%;
          position: relative;
          border-radius: 1rem;
          flex-shrink: 0;

          .rectangle-5-B56 {
            left: 0;
            border-radius: 1rem;
            width: 74.2842rem;
            height: 34.4617rem;
            position: absolute;
            top: 0.0408rem;
            background-color: rgba(0, 0, 0, 0.6000000238);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:eecad25cb88b0d539f18525c5b3091a83b1be8f1');
          }
          .hubs-ZbS {
            width: 13.9rem;
            display: flex;
            top: 14.2309rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            position: absolute;
            left: 30.8921rem;
            align-items: center;
            font-size: 4rem;
            font-weight: 600;
            letter-spacing: 0.8rem;
            color: #ffffff;
            white-space: nowrap;
            height: 6rem;
            justify-content: center;
          }
        }
        .cat4-2jv {
          height: calc(100% - 0.0408rem);
          position: relative;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.0408rem;
          width: 74.2842rem;

          .rectangle-6-mxQ {
            position: absolute;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:3b6de9a2f7321f253880da313ce57d1091617515');
            border-radius: 1rem;
            background-position: center;
            width: 74.1842rem;
            height: 34.4617rem;
            left: 0.1rem;
            top: 0;
            background-color: rgba(0, 0, 0, 0.6000000238);
            background-size: 100% 100%;
          }
          .takeaways-V7i {
            width: 32rem;
            height: 6rem;
            position: absolute;
            line-height: 1.5;
            left: 21.0921rem;
            top: 14.2309rem;
            font-size: 4rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            letter-spacing: 0.8rem;
          }
        }
      }
    }
    .auto-group-yjuk-Mfi {
      height: 108.2733rem;
      position: relative;
      flex-shrink: 0;
      margin-left: 4.1rem;
      width: 159.1075rem;

      .insta-6dJ {
        position: absolute;
        left: 3.2rem;
        top: 67.7233rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 144.8rem;
        height: 40.55rem;

        .frame-3-qKz {
          margin: 0rem 54.6rem 4.9rem 55.4rem;
          width: calc(100% - 110rem);
          height: 4.8rem;
          flex-shrink: 0;
        }
        .carousel-ZWt {
          width: 100%;
          height: 30.85rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-wtfa-i8t {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-right: 1.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .image-11-TcG {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 28rem;
              height: 28rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
            }
            .image-10-bCg {
              height: 28rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 28rem;
            }
          }
          .auto-group-u8tn-X6L {
            margin-right: 1.2rem;
            width: 28rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .image-12-G3v {
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              margin-bottom: 1.6rem;
              width: 100%;
              height: 28rem;
            }
            .group-1-Bwa {
              height: 1.25rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.05rem;
              width: 3.35rem;
            }
          }
          .image-13-868 {
            height: 28rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 28rem;
          }
          .image-14-rH2 {
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 28rem;
            height: 28rem;
            border: solid 0.1rem #000000;
          }
        }
      }
      .instagram-z8L {
        display: flex;
        align-items: center;
        width: 22.3rem;
        height: 4.8rem;
        position: absolute;
        left: 64.4rem;
        top: 70.1233rem;

        .vector-7ik {
          margin-right: 2.1rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .isavesit-G5r {
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          align-items: center;
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .launches-zGk {
        top: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 159.1075rem;
        height: 67.7233rem;
        position: absolute;
        left: 0;

        .launches-L5i {
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 3.069rem 0.305rem;
          display: flex;
        }
        .carrossel-qoA {
          flex-shrink: 0;
          width: 100%;
          height: 59.8539rem;
          display: flex;
          align-items: center;

          .vector-zg4 {
            flex-shrink: 0;
            margin: 0rem 1.625rem 0rem 0rem;
            width: 4.0615rem;
            height: 4.1279rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-2-jNk {
            display: flex;
            align-items: center;
            margin-right: 1.6246rem;
            padding: 1rem 0;
            height: 100%;
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            width: 147.7355rem;
            flex-shrink: 0;

            .item-EqJ {
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              flex-shrink: 0;
              box-sizing: border-box;
              width: 39.6rem;
              align-items: center;
              display: flex;
              border-radius: 0.8rem;
              margin: 0rem 1.6rem 1.854rem 0rem;
              padding: 2.8rem 4.8rem 2.8rem 3.2rem;
              flex-direction: column;
              background-color: #ffffff;

              .auto-group-m3ak-Y5J {
                height: 30.4rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 4.1rem;
                width: 100%;

                .image-2-SwN {
                  top: 0.4rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 30rem;
                  height: 30rem;
                  position: absolute;
                  left: 1.6rem;
                }
                .discount-P5v {
                  width: 9.6rem;
                  justify-content: center;
                  font-size: 1.8rem;
                  height: 4rem;
                  position: absolute;
                  left: 0;
                  top: 0;
                  align-items: center;
                  font-weight: 600;
                  display: flex;
                  background-color: #103f74;
                  border-radius: 0.4rem;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .description-S4C {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 9.95rem 1.5rem 11.55rem;
                width: calc(100% - 21.5rem);
                align-items: center;

                .description-AVz {
                  font-size: 1.6rem;
                  font-weight: 400;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  justify-content: center;
                  display: flex;
                  align-items: center;
                  line-height: 1.5;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4rem;
                }
                .item-00-VYG {
                  align-items: center;
                  font-size: 1.8rem;
                  color: #000000;
                  display: flex;
                  font-weight: 600;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  justify-content: center;
                }
              }
              .btn-oor {
                width: calc(100% - 11.2rem);
                align-items: center;
                background-color: #103f74;
                height: 5.3rem;
                color: #ffffff;
                margin: 0rem 4.8rem 0rem 6.4rem;
                font-size: 1.8rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 0.8rem;
                display: flex;
                justify-content: center;
                font-weight: 600;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .item-QHr {
              margin: 0rem 1.6rem 1.854rem 0rem;
              padding: 2.8rem 3.2rem 2.8rem 3.2rem;
              align-items: center;
              flex-direction: column;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #ffffff;
              box-sizing: border-box;
              width: 39.6rem;
              display: flex;
              border-radius: 0.8rem;
              flex-shrink: 0;

              .auto-group-ocr2-V4Q {
                height: 31.4rem;
                position: relative;
                flex-shrink: 0;
                margin: 0rem 7.8rem 3.1rem 0rem;
                width: 25.4rem;

                .image-3-1He {
                  left: 7.9rem;
                  top: 3.2rem;
                  object-fit: cover;
                  vertical-align: top;
                  width: 17.5rem;
                  height: 28.2rem;
                  position: absolute;
                }
                .discount-vQc {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 0.4rem;
                  width: 9.6rem;
                  font-weight: 600;
                  left: 0;
                  top: 0;
                  font-size: 1.8rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  position: absolute;
                  line-height: 1.5;
                  white-space: nowrap;
                  background-color: #103f74;
                  height: 4rem;
                }
              }
              .description-Cd2 {
                margin: 0rem 11.55rem 1.5rem 11.55rem;
                width: calc(100% - 23.1rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .description-ibN {
                  align-items: center;
                  justify-content: center;
                  font-size: 1.6rem;
                  font-family: Poppins, 'Source Sans Pro';
                  margin-bottom: 4rem;
                  display: flex;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-00-3tY {
                  justify-content: center;
                  line-height: 1.5;
                  align-items: center;
                  font-size: 1.8rem;
                  font-weight: 600;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .btn-nLL {
                display: flex;
                justify-content: center;
                font-size: 1.8rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 0.8rem;
                margin: 0 6.4rem;
                height: 5.3rem;
                align-items: center;
                font-weight: 600;
                white-space: nowrap;
                width: calc(100% - 12.8rem);
                color: #ffffff;
                background-color: #103f74;
                flex-shrink: 0;
              }
            }
            .item-DRe {
              width: 39.6rem;
              display: flex;
              background-color: #ffffff;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin: 0rem 1.6rem 1.854rem 0rem;
              box-sizing: border-box;
              padding: 2.8rem 3.2rem 2.8rem 3.2rem;
              align-items: center;
              flex-direction: column;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

              .auto-group-1m4p-v5A {
                position: relative;
                flex-shrink: 0;
                margin: 0rem 8.2rem 3rem 0rem;
                width: 25rem;
                height: 31.5rem;

                .image-4-FNL {
                  width: 16.8rem;
                  height: 29rem;
                  position: absolute;
                  left: 8.2rem;
                  top: 2.5rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .discount-nNG {
                  display: flex;
                  justify-content: center;
                  color: #ffffff;
                  left: 0;
                  top: 0;
                  font-size: 1.8rem;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  border-radius: 0.4rem;
                  width: 9.6rem;
                  align-items: center;
                  font-weight: 600;
                  line-height: 1.5;
                  background-color: #103f74;
                  height: 4rem;
                  position: absolute;
                }
              }
              .descrio-sPi {
                width: calc(100% - 23.1rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 11.55rem 1.5rem 11.55rem;

                .description-Pcx {
                  margin-bottom: 4rem;
                  justify-content: center;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  display: flex;
                  align-items: center;
                  font-weight: 400;
                  color: #000000;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .item-00-vMz {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 600;
                  color: #000000;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .btn-FfA {
                height: 5.3rem;
                font-size: 1.8rem;
                line-height: 1.5;
                margin: 0 6.4rem;
                justify-content: center;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                color: #ffffff;
                background-color: #103f74;
                border-radius: 0.8rem;
                flex-shrink: 0;
                width: calc(100% - 12.8rem);
                display: flex;
                align-items: center;
                font-weight: 600;
              }
            }
            .item-hGG {
              margin: 0rem 1.6rem 1.854rem 0rem;
              align-items: center;
              display: flex;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;
              box-sizing: border-box;
              padding: 2.8rem 4.1rem 2.8rem 3.2rem;
              width: 39.6rem;
              flex-direction: column;
              background-color: #ffffff;
              flex-shrink: 0;

              .discount-nYc {
                background-color: #103f74;
                display: flex;
                font-size: 1.8rem;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 0.4rem;
                width: 9.6rem;
                height: 4rem;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                flex-shrink: 0;
                margin: 0rem 22.7rem 1.4rem 0rem;
                white-space: nowrap;
              }
              .image-5-rYU {
                background-image: url('REPLACE_IMAGE:4d518497142e666246d904897752d5388157b78d');
                flex-shrink: 0;
                margin: 0rem 0rem 3.4rem 0.9rem;
                width: 31.4rem;
                height: 25.7rem;
                position: relative;
                background-size: 131.278% 100%;
                background-position: -9.2767rem 0;
              }
              .descrio-LTe {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 10.65rem 1.5rem 11.55rem;
                width: calc(100% - 22.2rem);
                align-items: center;

                .description-4eY {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  color: #000000;
                  margin-bottom: 4rem;
                  display: flex;
                  font-weight: 400;
                }
                .item-00-BUG {
                  justify-content: center;
                  font-size: 1.8rem;
                  color: #000000;
                  white-space: nowrap;
                  align-items: center;
                  font-weight: 600;
                  line-height: 1.5;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                }
              }
              .btn-hhW {
                margin: 0rem 5.5rem 0rem 6.4rem;
                align-items: center;
                font-family: Poppins, 'Source Sans Pro';
                background-color: #103f74;
                white-space: nowrap;
                width: calc(100% - 11.9rem);
                height: 5.3rem;
                font-weight: 600;
                line-height: 1.5;
                border-radius: 0.8rem;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                font-size: 1.8rem;
                color: #ffffff;
              }
            }
            .item-Kyn {
              box-sizing: border-box;
              padding: 2.8rem 4.8rem 2.8rem 3.2rem;
              flex-direction: column;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #ffffff;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin: 0rem 1.6rem 1.854rem 0rem;
              align-items: center;
              display: flex;
              width: 39.6rem;

              .auto-group-yxdr-SHi {
                width: 100%;
                height: 30.4rem;
                position: relative;
                flex-shrink: 0;
                margin-bottom: 4.1rem;

                .image-2-yoS {
                  vertical-align: top;
                  width: 30rem;
                  height: 30rem;
                  position: absolute;
                  left: 1.6rem;
                  top: 0.4rem;
                  object-fit: cover;
                }
                .discount-7ek {
                  justify-content: center;
                  font-weight: 600;
                  color: #ffffff;
                  white-space: nowrap;
                  height: 4rem;
                  position: absolute;
                  top: 0;
                  left: 0;
                  align-items: center;
                  font-size: 1.8rem;
                  background-color: #103f74;
                  font-family: Poppins, 'Source Sans Pro';
                  border-radius: 0.4rem;
                  width: 9.6rem;
                  display: flex;
                  line-height: 1.5;
                }
              }
              .description-oXa {
                margin: 0rem 9.95rem 1.5rem 11.55rem;
                width: calc(100% - 21.5rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .description-YEG {
                  color: #000000;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.5;
                  font-weight: 400;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4rem;
                  display: flex;
                  font-size: 1.6rem;
                }
                .item-00-5EC {
                  font-size: 1.8rem;
                  font-weight: 600;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  justify-content: center;
                }
              }
              .btn-cE8 {
                height: 5.3rem;
                background-color: #103f74;
                border-radius: 0.8rem;
                margin: 0rem 4.8rem 0rem 6.4rem;
                width: calc(100% - 11.2rem);
                align-items: center;
                justify-content: center;
                font-weight: 600;
                color: #ffffff;
                display: flex;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                line-height: 1.5;
              }
            }
            .item-AQ4 {
              width: 39.6rem;
              align-items: center;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              flex-shrink: 0;
              margin-bottom: 1.8539rem;
              padding: 2.8rem 3.2rem 2.8rem 3.2rem;
              display: flex;
              flex-direction: column;
              background-color: #ffffff;
              border-radius: 0.8rem;
              box-sizing: border-box;

              .auto-group-17u8-UQk {
                margin: 0rem 7.8rem 3.1rem 0rem;
                width: 25.4rem;
                height: 31.4rem;
                position: relative;
                flex-shrink: 0;

                .image-3-ztt {
                  object-fit: cover;
                  vertical-align: top;
                  width: 17.5rem;
                  height: 28.2rem;
                  position: absolute;
                  left: 7.9rem;
                  top: 3.2rem;
                }
                .discount-8VJ {
                  background-color: #103f74;
                  height: 4rem;
                  justify-content: center;
                  line-height: 1.5;
                  color: #ffffff;
                  white-space: nowrap;
                  position: absolute;
                  left: 0;
                  align-items: center;
                  font-weight: 600;
                  font-family: Poppins, 'Source Sans Pro';
                  border-radius: 0.4rem;
                  width: 9.6rem;
                  top: 0;
                  display: flex;
                  font-size: 1.8rem;
                }
              }
              .description-QSp {
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin: 0rem 11.55rem 1.5rem 11.55rem;
                width: calc(100% - 23.1rem);

                .description-YJ8 {
                  display: flex;
                  font-size: 1.6rem;
                  justify-content: center;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  margin-bottom: 4rem;
                  align-items: center;
                  flex-shrink: 0;
                }
                .item-00-ftY {
                  align-items: center;
                  font-weight: 600;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  font-size: 1.8rem;
                  line-height: 1.5;
                  flex-shrink: 0;
                }
              }
              .btn-QLL {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0 6.4rem;
                display: flex;
                border-radius: 0.8rem;
                width: calc(100% - 12.8rem);
                justify-content: center;
                font-size: 1.8rem;
                line-height: 1.5;
                background-color: #103f74;
                height: 5.3rem;
                align-items: center;
                font-weight: 600;
                color: #ffffff;
                flex-shrink: 0;
              }
            }
          }
          .vector-FLx {
            height: 4.1279rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0rem;
            width: 4.0615rem;
          }
        }
      }
    }
  }
  .footer-xWG {
    margin-bottom: 2.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .newsletter-hye {
      width: 100%;
      height: 13rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #103f74;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.8rem 8rem 3.9rem 8rem;

      .newsletter-Rue {
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        font-size: 2.2rem;
        font-weight: 500;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 70.1rem;
        display: flex;
        align-items: center;
      }
      .receive-our-offers-by-e-mail-Xxg {
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
      }
      .input-cUL {
        padding-left: 2.8rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;

        .enter-your-e-mail-address-k4k {
          margin-right: 6.8rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .auto-group-inds-3pY {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.6rem 1.17rem 1.47rem 1.2rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: #000000;
          border-radius: 0 1rem 1rem 0;

          .vector-b5N {
            object-fit: contain;
            vertical-align: top;
            width: 3.13rem;
            height: 2.23rem;
          }
        }
      }
    }
    .navigation-eZS {
      height: 24.4rem;
      display: flex;
      align-items: center;
      background-color: #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.9rem 0rem 4.2rem 0rem;
      width: 100%;

      .auto-group-edvt-me4 {
        height: calc(100% - 1.4rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.7rem 5.3rem 0.7rem 0rem;

        .categorias-hXi {
          margin-bottom: 7.4rem;
          width: 29.8rem;
          flex-shrink: 0;

          .categories-rQc {
            display: flex;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            align-items: center;
            line-height: 1.5;
            color: #ffffff;
            margin-bottom: 0.5rem;
          }
          .smart-home-switches-sockets-relay-hubs-sensors-lamps-controls-BSt {
            max-width: 29.8rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.8571428571;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .rectangle-2-52U {
          background-color: #ffffff;
          flex-shrink: 0;
          margin-right: 9.1rem;
          width: 37.2rem;
          height: 0.1rem;
        }
      }
      .auto-group-ykvi-cHJ {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 12.1rem;
        width: 71.9rem;
        height: 100%;

        .auto-group-wjgl-kPW {
          width: calc(100% - 7.65rem);
          height: 10.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 4rem 7.65rem;

          .categorias-fmN {
            margin: 0.8rem 12.8rem 1.8rem 0rem;
            width: 29.95rem;
            height: calc(100% - 2.6rem);
            flex-shrink: 0;

            .institutional-o6t {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.8rem;
              line-height: 1.5;
              margin-bottom: 0.4rem;
              font-weight: 600;
              white-space: nowrap;
            }
            .contact-us-privacy-policy-who-we-are-exchange-and-returns-X2t {
              max-width: 29.9rem;
              display: flex;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.8571428571;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.05rem;
            }
          }
          .categorias-QcU {
            height: 100%;
            flex-shrink: 0;
            width: 21.5rem;

            .contact-us-a1A {
              width: 100%;
              font-weight: 600;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              margin-bottom: 0.4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.8rem;
              line-height: 1.5;
              white-space: nowrap;
            }
            .telephone-91-xx-xxxx-xxxx-whatsapp-91-xx-xxxxx-xxxx-e-mail-xxxxxxxxxxxxxxxxxx-JSx {
              font-weight: 400;
              line-height: 1.8571428571;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.1rem;
              max-width: 21.4rem;
              display: flex;
              font-size: 1.4rem;
            }
          }
        }
        .redes-PUQ {
          flex-shrink: 0;
          margin-right: 2.3059rem;
          width: 69.5941rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-gil4-X4p {
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        width: 37.2rem;

        .categorias-56L {
          margin: 0rem 0rem 7.9rem 3rem;
          width: 18.5rem;

          .service-cc4 {
            white-space: nowrap;
            margin-bottom: 0.6rem;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            width: 100%;
            display: flex;
            font-size: 1.8rem;
            line-height: 1.5;
          }
          .mon-to-sat-from-8-00-am-to-6-00-pm-YVi {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 18.5rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.8571428571;
          }
        }
        .rectangle-18-s2C {
          width: 100%;
          height: 0.1rem;
          background-color: #ffffff;
        }
      }
    }
    .payment-1PJ {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 4.2rem 8rem 10.7rem 8rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #103f74;

      .payments-vWG {
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        display: flex;
        font-size: 2.2rem;
        line-height: 1.5;
        margin-bottom: 0.4rem;
      }
      .auto-group-uenx-ctt {
        width: calc(100% - 132.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-right: 132.9rem;

        .cards-Mba {
          margin: 0.5rem 3.3rem 0rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .image-19-trQ {
            width: 6.2439rem;
            height: 4rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5817rem;
          }
          .image-20-2hi {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 6.7744rem;
            height: 4rem;
          }
        }
        .image-23-BKi {
          width: 6rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .logo-hYx {
    flex-shrink: 0;
    margin-left: 7rem;
    width: 54rem;
    height: 8.9rem;
    object-fit: cover;
    vertical-align: top;
  }
}
