
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43rem;
}.iphone-14-15-pro-max-1-L8U {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .group-3-RJL {
    padding: 1.8rem 2.1rem 1.7rem 2.1rem;
    font-size: 2.5rem;
    color: #000000;
    white-space: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    background: linear-gradient(180deg, #3a95ff -0%, rgba(69, 121, 255, 0) 100%);
  }
  .auto-group-iew6-dhE {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.9rem 0rem 1.8rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .group-2-XGp {
      width: calc(100% - 1.5rem);
      height: 20rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.5rem 4.8rem 0rem;

      .ellipse-1-R7J {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 1.6rem;
        height: 20rem;
        border-radius: 10rem;
        flex-shrink: 0;
        width: 20rem;
        background-image: url('REPLACE_IMAGE:92c4de14488338ef3eb288ee92d131ab0776b036');
      }
      .auto-group-ptqs-hqW {
        margin: 6.1rem 0rem 2.1rem 0rem;
        height: calc(100% - 8.2rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .name-surname-DJ4 {
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
        }
        .namesurnamevesacin-8R2 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 1.7rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .group-1-eeG {
          height: 3.9rem;
          font-size: 2rem;
          justify-content: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          color: #ffffff;
          white-space: nowrap;
          display: flex;
          background-color: #3a94fe;
          flex-shrink: 0;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          width: 20rem;
          font-weight: 600;
          line-height: 1.2125;
          align-items: center;
          border-radius: 1rem;
        }
      }
    }
    .your-wish-list-TLp {
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 1.8rem;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
      width: 100%;
      text-align: center;
      font-weight: 500;
      white-space: nowrap;
    }
    .group-7-8xk {
      column-gap: 2.1rem;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 4.8rem 0.9rem;
      height: 15rem;
      display: flex;

      .group-5-TEL {
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 13rem;

        .rectangle-5-AuS {
          width: 100%;
          height: 14rem;
          background-color: #d9d9d9;
          border-radius: 1rem;
        }
      }
      .group-4-gct {
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem;
        width: 13rem;
        height: 100%;
        background-color: #4ebffe;

        .rectangle-5-SMA {
          border-radius: 1rem;
          width: 100%;
          height: 14rem;
          background-color: #d9d9d9;
        }
      }
      .group-6-Zwa {
        width: 13rem;
        height: 100%;
        background-color: #4ebffe;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem;

        .rectangle-5-7y6 {
          border-radius: 1rem;
          width: 100%;
          height: 14rem;
          background-color: #d9d9d9;
        }
      }
    }
    .previous-purchase-F3i {
      width: 100%;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #000000;
    }
    .group-11-M6k {
      flex-shrink: 0;
      margin: 0rem 1.5rem 0rem 0.9rem;
      width: calc(100% - 2.4rem);
      row-gap: 1.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-8-RcQ {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 12rem;

        .rectangle-6-y88 {
          background-color: #d9d9d9;
          width: 40.4rem;
          height: 12rem;
          position: absolute;
          left: 0.2rem;
          top: 0;
        }
        .rectangle-7-6yS {
          position: absolute;
          left: 0;
          top: 0;
          background-color: #b5afaf;
          width: 12rem;
          height: 12rem;
        }
        .arduino-uno-r3-rSp {
          font-family: Inter, 'Source Sans Pro';
          width: 15.7rem;
          position: absolute;
          top: 1.2rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          white-space: nowrap;
          height: 2.5rem;
          left: 13.7rem;
          color: #000000;
        }
        .item-20-MPa {
          height: 2.5rem;
          position: absolute;
          top: 4.8rem;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.9rem;
          left: 13.9rem;
          font-size: 2rem;
          font-weight: 500;
          color: #02771c;
        }
      }
      .group-9-r5S {
        width: 100%;
        height: 12rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-6-boi {
          position: absolute;
          left: 0.2rem;
          top: 0;
          background-color: #d9d9d9;
          width: 40.4rem;
          height: 12rem;
        }
        .rectangle-7-71N {
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #b5afaf;
          width: 12rem;
        }
        .lithium-battery-15v-16k {
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.8rem;
          height: 2.5rem;
          top: 1.2rem;
          font-size: 2rem;
          font-weight: 500;
          position: absolute;
          left: 13.7rem;
        }
        .item-2-uhv {
          height: 2.5rem;
          left: 14.5rem;
          top: 4.8rem;
          text-align: center;
          font-weight: 500;
          white-space: nowrap;
          width: 2.6rem;
          font-size: 2rem;
          line-height: 1.2125;
          color: #02771c;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
        }
      }
      .group-10-2Gk {
        height: 12rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .rectangle-6-yhn {
          top: 0;
          background-color: #d9d9d9;
          width: 40.4rem;
          height: 12rem;
          position: absolute;
          left: 0.2rem;
        }
        .rectangle-7-vsv {
          background-color: #b5afaf;
          width: 12rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .copper-wires-UuS {
          width: 13.1rem;
          height: 2.5rem;
          left: 13.7rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 1.4rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          color: #000000;
        }
        .item-20-bjA {
          color: #02771c;
          white-space: nowrap;
          position: absolute;
          top: 4.8rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 3.9rem;
          height: 2.5rem;
          left: 13.9rem;
          text-align: center;
        }
      }
    }
  }
}
