
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-vTW {
  box-sizing: border-box;
  padding-bottom: 67.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.desktop-2-vTW .top-43v {
  margin-bottom: 3.8rem;
  box-sizing: border-box;
  padding: 0.5rem 3.827rem 0rem 0rem;
  width: 100%;
  height: 20.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .new-logo-colour-2-wtQ {
  width: 17.1rem;
  height: 19.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .search-group-UtL {
  margin: 6.3rem 1.8rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 2.075rem 3.542rem 2.139rem 3.542rem;
  width: 92.2rem;
  height: calc(100% - 13.2rem);
  border: solid 0.1rem rgba(0, 0, 0, 0.8000000119);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .search-group-UtL .ic-baseline-search-z5z {
  margin-right: 82.6129rem;
  width: 2.503rem;
  height: 2.1863rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-vTW .top-43v .bytesize-cart-fT2 {
  margin: 0rem 1.8rem 0.8rem 0rem;
  width: 5.6rem;
  height: 5.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .group-7-NcL {
  margin: 6.3rem 0rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem 5.161rem 1.4rem 3.534rem;
  height: calc(100% - 13.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(0, 0, 0, 0.8500000238);
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .group-7-NcL .group-2-tKn {
  margin: 0rem 2.709rem 0.252rem 0rem;
  width: 3.7691rem;
  height: 3.5484rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .top-43v .group-7-NcL .login-Dsr {
  margin-top: 0.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr {
  margin: 0 4.1rem;
  width: calc(100% - 8.2rem);
  height: 84.2rem;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .my-cart-RU8 {
  width: 17.2rem;
  height: 4.7rem;
  position: absolute;
  left: 4.8373rem;
  top: 1.7445rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-vTW .cart-info-6Rr .rectangle-3851-Xn4 {
  width: 125.0736rem;
  height: 0.0918rem;
  position: absolute;
  left: 4.3705rem;
  top: 6.5189rem;
  background-color: #857d7d;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG {
  width: 116.835rem;
  height: 15.0617rem;
  position: absolute;
  left: 4.965rem;
  top: 12.2115rem;
  display: flex;
  align-items: center;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .rectangle-3853-sUY {
  width: 23.635rem;
  height: 15.0617rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg {
  box-sizing: border-box;
  padding: 0.789rem 0rem 0.789rem 4.9rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .auto-group-inbn-8vG {
  margin: 0.2rem 12.8rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .auto-group-inbn-8vG .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-HHN {
  margin-bottom: 3.8rem;
  max-width: 29.4rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .auto-group-inbn-8vG .add-to-wishlist-NJp {
  margin-left: 0.5rem;
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .quantity-group-6-fHv {
  margin-right: 9.6rem;
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .quantity-group-6-fHv .bin-group-ntL {
  margin: 0.232rem 1.711rem 0rem 0rem;
  width: 4.9781rem;
  height: 4.1317rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .quantity-group-6-fHv .number-group-7fi {
  margin: 0.5rem 2.31rem 0.268rem 0rem;
  width: 12.6007rem;
  height: calc(100% - 0.7683rem);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12558c;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .quantity-group-6-fHv .plus-group-mkG {
  width: 7.3rem;
  height: 4.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-a-YSG .auto-group-eja8-peg .item-45525-XDe {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv {
  width: 116.835rem;
  height: 15.0617rem;
  position: absolute;
  left: 4.8rem;
  top: 52.1rem;
  display: flex;
  align-items: flex-start;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .rectangle-3853-Uo6 {
  margin-right: 4.9rem;
  width: 23.635rem;
  height: 15.0617rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-RCY {
  margin-top: 0.9885rem;
  max-width: 29.4rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC {
  box-sizing: border-box;
  padding: 0.789rem 0rem 0.789rem 12.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW {
  margin-right: 9.6rem;
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW .bin-group-1Re {
  margin: 0.5rem 1.711rem 0.268rem 0rem;
  box-sizing: border-box;
  padding: 1.961rem 1.563rem 1.871rem 1.315rem;
  width: 4.9781rem;
  height: calc(100% - 0.7683rem);
  background-color: #12558c;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW .bin-group-1Re .ic-baseline-minus-7zU {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW .bin-group-1Re .ic-baseline-minus-7zU .vector-rx4 {
  width: 100%;
  height: 0.3rem;
  background-color: #f8f8f8;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW .number-group-QTn {
  margin: 0.5rem 2.31rem 0.268rem 0rem;
  width: 12.6007rem;
  height: calc(100% - 0.7683rem);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12558c;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .quantity-group-6-4FW .plus-group-42Y {
  width: 7.3rem;
  height: 4.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-c-RZv .auto-group-zte4-vQC .item-45525-oF2 {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC {
  width: 116.835rem;
  height: 15.0617rem;
  position: absolute;
  left: 4.8rem;
  top: 32.2rem;
  display: flex;
  align-items: flex-start;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .rectangle-3853-eWY {
  margin-right: 4.9rem;
  width: 23.635rem;
  height: 15.0617rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-9iC {
  margin-top: 0.9885rem;
  max-width: 29.4rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg {
  box-sizing: border-box;
  padding: 0.789rem 0rem 0.789rem 12.8rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg .quantity-group-6-Qu2 {
  margin-right: 9.6rem;
  height: 4.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg .quantity-group-6-Qu2 .bin-group-N5A {
  margin: 0.232rem 1.711rem 0rem 0rem;
  width: 4.9781rem;
  height: 4.1317rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg .quantity-group-6-Qu2 .number-group-6Wx {
  margin: 0.5rem 2.31rem 0.268rem 0rem;
  width: 12.6007rem;
  height: calc(100% - 0.7683rem);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12558c;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg .quantity-group-6-Qu2 .plus-group-k5i {
  width: 7.3rem;
  height: 4.9rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-b-8YC .auto-group-zney-UEg .item-45525-TVv {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #12558c;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .line-1-xBn {
  width: 128.6056rem;
  height: 0.1rem;
  position: absolute;
  left: 3.5972rem;
  top: 70.2991rem;
  background-color: #867d7d;
}
.desktop-2-vTW .cart-info-6Rr .cart-subtotal-136575--VSc {
  width: 25.7rem;
  height: 2.9rem;
  position: absolute;
  left: 104.4rem;
  top: 71.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-vTW .cart-info-6Rr .group-8-zuA {
  box-sizing: border-box;
  padding: 1.4rem 6.2rem 0.7rem 3.6rem;
  width: 43.6rem;
  height: 5.2rem;
  position: absolute;
  left: 89.8rem;
  top: 76.6rem;
  display: flex;
  align-items: center;
  background-color: #12558c;
  border-radius: 1.5rem;
}
.desktop-2-vTW .cart-info-6Rr .group-8-zuA .icon-park-outline-check-correct-VL8 {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-vTW .cart-info-6Rr .group-8-zuA .proceed-to-checkout-o5v {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
