
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 2rem;
}.fluent-cart-20-filled-mVe {
  width: 100%;
  height: 2rem;
  overflow: hidden;
  position: relative;
}
